@using Loowoo.LandInst.Model
@using Loowoo.LandInst.Common
@{
    Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "继续教育";
    List<Education> list = ViewBag.List;
}
<table class="table table-bordered">
    <tr>
        <th>名称</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>学时</th>
        <th>教育机构</th>
        <th>报名时间</th>
        <th>审核时间</th>
    </tr>
    @foreach (var item in list)
    { 
        <tr>
            <td>@(item.Name)</td>
            <td>@(item.StartDate.ToShortDateString())</td>
            <td>@(item.EndDate.ToShortDateString())</td>
            <td>@(item.Hours)小时</td>
            <td>@(item.Agency)</td>
            @if (item.Approval == null)
            { 
                <td><span class="label label-default">未申请</span></td>@*
                <td><a href="/member/education/signup?id=@(item.ID)" class="btn btn-xs btn-primary btn-signup">
                    报名</a>
                </td>*@
            }
            else
            {
                <td>@(item.Approval.CreateTime.ToShortDateString())</td>
                <td>@(item.Approval.UpdateTime.HasValue ? item.Approval.UpdateTime.Value.ToShortDateString() : "尚未审核")</td>
            }
        </tr>
    }
</table>
@*<script>
    $(function () {
        $(".btn-signup").click(function () {
            var url = $(this).attr("href");
            $.request(url, function (json) {
                alert("报名成功");
                window.location.href = "@Html.Raw(Request.Url.AbsoluteUri)";
            });
            return false;
        });
    });
</script>*@
