@using Loowoo.LandInst.Model
@{
    ViewBag.Title = "成绩查询";
    Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";
    List<ExamResult> list = ViewBag.List;
}
<table class="table table-bordered">
    <tr>
        <th style="width:200px;">考试项目</th>
        <th style="width:100px;">报名日期</th>
        <th style="width:200px;">考试时间</th>
        <th style="width:100px;">考试结果</th>
        <th>考试成绩</th>
    </tr>
    @foreach (var result in list)
    {
        <tr>
            <td>@(result.Exam.Name)</td>
            <td>@(result.CreateTime.ToShortDateString())</td>
            <td>@(result.Exam.StartExamDate.ToShortDateString()) ~ @(result.Exam.EndExamDate.ToShortDateString())</td>
            <td>
                @if (result.Result.HasValue)
                {
                    if (result.Result.Value)
                    { 
                        <span class="label label-success">通过考试</span>
                    }
                    else{
                        <span class="label label-warning">未通过</span>
                    }
                }else
                {
                    <span class="label label-default">未出成绩</span>
                }

            </td>
            <td>@Html.Raw(result.Note)</td>
        </tr>
    }
</table>
