@using Loowoo.LandInst.Model
@{
    ViewBag.Title = "年审设置";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<AnnualCheck> list = ViewBag.List;
}
<form class="form-inline search-form">
    <div class="col-lg-8">
        <a href="/admin/annual/edit" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> 添加年审</a>
    </div>
</form>

<table class="table table-bordered">
    <tr>
        <th>年审标题</th>
        <th>起始时间</th>
        <th>结束时间</th>
        <th>状态</th>
        <th>简介</th>
        <th>管理</th>
    </tr>
    @foreach (var item in list)
    { 
        <tr>
            <td>@(item.Name)</td>
            <td>@(item.StartDate.ToShortDateString())</td>
            <td>@(item.EndDate.ToShortDateString())</td>
            <td>@((DateTime.Now > item.StartDate && DateTime.Now < item.EndDate) ? "在审" : "已过期")</td>
            <td>@(item.Summary)</td>
            <td>
                <a href="/admin/annual/edit?id=@(item.ID)" class="btn btn-xs btn-primary">编辑</a>
                <a href="/admin/annual/delete?id=@(item.ID)" class="btn btn-xs btn-danger btn-delete"><i class="glyphicon glyphicon-trash"></i> 删除</a>
            </td>
        </tr>
    }
</table>
<script>
    $(function () {

        $(".btn-delete").click(function () {
            if (!confirm("确定要删除吗？")) {
                return false;
            }
            var href = $(this).attr("href");
            $.post(href, function (json) {
                if (json.result) {
                    window.location.href = "@Html.Raw(Request.Url.AbsoluteUri)";
                }
            }, "json");
            return false;
        });
    });
</script>
