@using Loowoo.LandInst.Model;
@{
    Layout = "~/Areas/Institution/Views/Shared/_Layout.cshtml";
    var id = Request.QueryString["id"];

    ViewBag.Title = !string.IsNullOrEmpty(id) ? "修改股东信息" : "添加股东";
    Shareholder model = ViewBag.Model;
}
<div class="well">
    添加、修改股东信息会自动提交资料变更登记审核请求，重复添加、修改不会重复提交请求。
</div>
<form id="shareholder-form" role="form" class="form-horizontal">
    <input type="hidden" name="ID" value="@(model.ID)" />
    <div class="form-group">
        <label class="control-label col-lg-2">姓名</label>
        <div class="col-sm-3">
            <input type="text" name="Name" class="form-control input-sm" value="@(model.Name)" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">性别</label>
        <div class="col-sm-3">
            <div class="radio-inline">
                <label>
                    <input type="radio" name="Gender" value="男" @(model.Gender == "男" ? "checked=checked" : null) />男</label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="Gender" value="女" @(model.Gender == "女" ? "checked=checked" : null) />女</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">出生年月</label>
        <div class="col-sm-3">
            <input type="text" name="Birthday" class="form-control input-sm" value="@(model.Birthday)" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">股份</label>
        <div class="col-sm-3">
            <input type="text" name="Shares" class="form-control input-sm" value="@(model.Shares)" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">手机</label>
        <div class="col-sm-3">
            <input type="text" name="Mobile" class="form-control input-sm" value="@(model.Mobile)" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2"></label>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary">保存</button>
            <a href="/institution/shareholder/" class="btn btn-default">返回</a>
        </div>
    </div>
</form>
<script>
    $(function () {
        $("#shareholder-form").submit(function () {
            var data = $(this).serialize();
            $.request("/institution/shareholder/edit?id=@(id)", data, function () {
                alert("保存成功！");
                window.location.href = "/institution/shareholder";
            });
            return false;
        });
    });
</script>
