@using Loowoo.LandInst.Model
@{
    ViewBag.Title = "股东管理";
    Layout = "~/Areas/Institution/Views/Shared/_Layout.cshtml";
    InstitutionProfile profile = ViewBag.Profile;
}
<form class="form-inline search-form">
    <div class="col-lg-8">
        <a href="/institution/shareholder/edit" class="btn btn-primary">添加股东</a>
    </div>
</form>

<table class="table table-bordered">
    <tr>
        <th>姓名</th>
        <th style="width:60px;">性别</th>
        <th style="width:120px;">出生年月</th>
        <th style="width:80px;">股份</th>
        <th style="width:100px;">手机</th>
        <th style="width:100px;">管理</th>
    </tr>
    @foreach (var item in profile.ShareHolders)
    { 
        <tr>
            <td>@(item.Name)</td>
            <td>@(item.Gender)</td>
            <td>@(item.Birthday)</td>
            <td>@(item.Shares)</td>
            <td>@(item.Mobile)</td>
            <td>
                <a href="/institution/shareholder/edit?id=@(item.ID)" class="btn btn-xs btn-primary">编辑</a>
                <a href="/institution/shareholder/delete?id=@(item.ID)" class="btn btn-xs btn-warning">删除</a>
            </td>
        </tr>
    }
</table>
