@using Loowoo.LandInst.Model
@using Loowoo.LandInst.Common
@{
    MemberProfile profile = ViewBag.Profile ?? new MemberProfile();
    List<VExamResult> examResults = ViewBag.ExamResults ?? new List<VExamResult>();
    List<Education> educations = ViewBag.Educations ?? new List<Education>();
    List<CheckLog> checklogs = ViewBag.CheckLogs ?? new List<CheckLog>();
    profile.Jobs.Add(new Job());
    profile.Certifications.Add(new Certification());

    string action = ((ViewBag.Controller as string) + "." + (ViewBag.Action)).ToLower();
    var isViewPage = action == "member.profile";
    var isEditPage = action == "member.edit";
    var isAddPage = isEditPage && profile.ID == 0;
    var isPracticePage = action == "member.practice" && profile.Status != MemberStatus.Normal;
    var showPractice = profile.Status == MemberStatus.Practice || isPracticePage;
    var showExamAndEducaiton = isViewPage && profile.Status != MemberStatus.Normal;

    Func<string, string> getFileName = (fileName) =>
    {
        if (string.IsNullOrEmpty(fileName)) return null;
        var startIndex = fileName.LastIndexOf('/');
        var endIndex = fileName.LastIndexOf('.') - 1;
        var length = endIndex - startIndex;
        if (length <= 0) return fileName;
        return fileName.Substring(startIndex + 1, length);
    };
}

<form id="profile-form" role="form" class="form-horizontal" method="post">
    <div style="position: relative;">
        <ul class="nav nav-tabs">
            <li @(isPracticePage ? "" : "class=active")><a href="#profile-basic" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;基本资料</a></li>
            @if (showPractice)
            {
                <li  @(isPracticePage ? "class=active" : "")><a href="#profile-practice" data-toggle="tab"><i class="glyphicon glyphicon-cog"></i>&nbsp;执业信息</a></li>
            }
            <li class=""><a href="#profile-certication" data-toggle="tab"><i class="glyphicon glyphicon-bookmark"></i>&nbsp;其他证书</a></li>
            <li class=""><a href="#profile-job" data-toggle="tab"><i class="glyphicon glyphicon-lock"></i>&nbsp;工作简历</a></li>
            @if (showExamAndEducaiton)
            {
                <li class=""><a href="#profile-examresult" data-toggle="tab"><i class="glyphicon glyphicon-pencil"></i>&nbsp;培训成绩</a></li>
                <li class=""><a href="#profile-education" data-toggle="tab"><i class="glyphicon glyphicon-book"></i>&nbsp;继续教育</a></li>
            }
            @if (isViewPage)
            { 
                <li class=""><a href="#profile-history" data-toggle="tab"><i class="glyphicon glyphicon-time"></i>&nbsp;审核历史</a></li>
            }
        </ul>
        @if (isViewPage)
        {
            <ul style="position: absolute; right: 10px; top: 0px;">
                <a href="export?id=@(profile.ID)" class="btn btn-primary"><i class="glyphicon glyphicon-export"></i>导出资料</a>
            </ul>
        }
    </div>
    <div class="tab-content">
        <div class="tab-pane fade @(isPracticePage ? "" : " active in")" id="profile-basic">
            <div class="form-group">
                <label class="control-label col-lg-2">姓名</label>
                <div class="col-lg-2">
                    <input type="text" name="Realname" class="form-control input-sm" value="@(profile.RealName)" />
                </div>
                <label class="control-label col-lg-3">性别</label>
                <div class="col-lg-2">
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="Gender" value="男" @(profile.Gender == "男" ? "checked=checked" : null) />男</label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="Gender" value="女" @(profile.Gender == "女" ? "checked=checked" : null) />女</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">出生日期</label>
                <div class="col-lg-2">
                    <input type="text" name="Birthday" class="form-control input-sm datepicker" value="@(profile.Birthday.HasValue ? profile.Birthday.Value.ToShortDateString() : null)" />
                </div>
                <label class="control-label col-lg-3">证件号码</label>
                <div class="col-lg-3">
                    <input type="text" name="IDNo" class="form-control input-sm" value="@(profile.IDNo)" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">专业</label>
                <div class="col-lg-2">
                    @Html.DropDownList("Major", Enum.GetNames(typeof(Major)).Select(name => new SelectListItem
               {
                   Selected = (Major)Enum.Parse(typeof(Major), name) == profile.Major,
                   Value = ((int)Enum.Parse(typeof(Major), name)).ToString(),
                   Text = name,
               }), new { @class = "form-control input-sm" })
                </div>
                <label class="control-label col-lg-3">学历</label>
                <div class="col-lg-2">
                    @Html.DropDownList("EduRecord", Enum.GetNames(typeof(EduRecord)).Select(name => new SelectListItem
               {
                   Selected = (EduRecord)Enum.Parse(typeof(EduRecord), name) == profile.EduRecord,
                   Value = ((int)Enum.Parse(typeof(EduRecord), name)).ToString(),
                   Text = name,
               }), new { @class = "form-control input-sm" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">学位</label>
                <div class="col-lg-2">
                    <input type="text" name="EduLevel" class="form-control input-sm" value="@(profile.EduLevel)" />
                </div>
                <label class="control-label col-lg-3">毕业学校</label>
                <div class="col-lg-3">
                    <input type="text" name="School" class="form-control input-sm"  value="@(profile.School)" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">民族</label>
                <div class="col-lg-2">
                    <input type="text" name="Nationality" class="form-control input-sm" value="@(profile.Nationality)" />
                </div>
                <label class="control-label col-lg-3">籍贯</label>
                <div class="col-lg-2">
                    <input type="text" name="NativePlace" class="form-control input-sm"  value="@(profile.NativePlace)" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">职称</label>
                <div class="col-lg-2">
                    <input type="text" name="Title" class="form-control input-sm"  value="@(profile.Title)" />
                </div>
                <label class="control-label col-lg-3">政治面貌</label>
                <div class="col-lg-2">
                    <input type="text" name="PoliticalState" class="form-control input-sm"  value="@(profile.PoliticalState)" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">Email</label>
                <div class="col-lg-3">
                    <input type="text" name="Email" class="form-control input-sm" value="@(profile.Email)" />
                </div>
                <label class="control-label col-lg-2">手机</label>
                <div class="col-lg-2">
                    <input type="text" name="MobilePhone" class="form-control input-sm"  value="@(profile.MobilePhone)" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">通信地址</label>
                <div class="col-lg-4">
                    <input type="text" name="Address" class="form-control input-sm"  value="@(profile.Address)" />
                </div>
                <label class="control-label col-lg-1">邮编</label>
                <div class="col-lg-1">
                    <input type="text" name="Postcode" class="form-control input-sm"  value="@(profile.Postcode)" />
                </div>
            </div>

            <input type="hidden" id="profile-photo1" name="Photo1" value="@(profile.Photo1)" />
            <input type="hidden" id="profile-photo2" name="Photo2" value="@(profile.Photo2)" />
            <div class="form-group">
                <label class="control-label col-lg-2">证件照片正面</label>
                <div class="col-lg-3">
                    @if (!isViewPage)
                    {
                        <div class="control-upload">
                            <input id="profile-file1" type="file" class="form-control input-sm" name="file1" />
                            <div class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-upload"></i>&nbsp;选择文件</div>
                        </div>
                    }
                    <div id="profile-preview-photo1">
                        @if (!string.IsNullOrEmpty(profile.Photo1))
                        {
                            <a href="@(profile.Photo1)" title="点击查案大图" target="_blank">
                                <img src="@(profile.Photo1)" class="img-preview" /></a>
                        }
                    </div>
                </div>
                <label class="control-label col-lg-2">证件照片反面</label>
                <div class="col-lg-3">
                    @if (!isViewPage)
                    {
                        <div class="control-upload">
                            <input id="profile-file2" type="file" class="form-control input-sm" name="file2" />
                            <div class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-upload"></i>&nbsp;选择文件</div>
                        </div>
                    }
                    <div id="profile-preview-photo2">
                        @if (!string.IsNullOrEmpty(profile.Photo2))
                        {
                            <a href="@(profile.Photo2)" title="点击查案大图" target="_blank">
                                <img src="@(profile.Photo2)" class="img-preview" /></a>
                        }
                    </div>
                </div>
            </div>
        </div>

        @if (showPractice)
        {
            <div class="tab-pane fade @(isPracticePage ? " active in" : "")" id="profile-practice">
                <div class="form-group">
                    <label class="control-label col-lg-3">从业人员职业培训合格证号</label>
                    <div class="col-lg-3">
                        <input type="text" name="CertificationNO" class="form-control input-sm" value="@(profile.CertificationNO)" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3">档案代管机构</label>
                    <div class="col-lg-3">
                        <input type="text" name="PersonalRecordsInstitution" class="form-control input-sm" value="@(profile.PersonalRecordsInstitution)" />
                    </div>
                    <label class="control-label col-lg-2">档案编号</label>
                    <div class="col-lg-2">
                        <input type="text" name="PersonalRecordsNO" class="form-control input-sm" value="@(profile.PersonalRecordsNO)" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3">社保机构</label>
                    <div class="col-lg-3">
                        <input type="text" name="SocialSecurityInstitution" class="form-control input-sm" value="@(profile.SocialSecurityInstitution)" />
                    </div>
                    <label class="control-label col-lg-2">社保编号</label>
                    <div class="col-lg-2">
                        <input type="text" name="SocialSecurityNO" class="form-control input-sm" value="@(profile.SocialSecurityNO)" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-3">职务</label>
                    <div class="col-lg-3">
                        <input type="text" name="Office" class="form-control input-sm" value="@(profile.Office)" />
                    </div>
                    <label class="control-label col-lg-2">电话</label>
                    <div class="col-lg-2">
                        <input type="text" name="MobilePhone" class="form-control input-sm" value="@(profile.MobilePhone)" />
                    </div>
                </div>
            </div>
        }

        <div class="tab-pane fade" id="profile-certication">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>证书名称</th>
                        <th>证书编号</th>
                        <th style="width: 150px;">获取日期</th>
                        @if (!isViewPage)
                        {
                            <th style="width: 80px;">
                                <button id="btn-add-cert" class="btn btn-xs btn-primary">添加</button></th>
                        }
                    </tr>
                </thead>
                <tbody id="list-cert">
                    @foreach (var item in profile.Certifications)
                    { 
                        <tr>
                            <td>
                                <input type="text" name="Cert.Name"  value="@(item.Name)" class="form-control input-sm"/>
                            </td>
                            <td>
                                <input type="text" name="Cert.No"  value="@(item.CertificationNo)" class="form-control input-sm"/>
                            </td>
                            <td>
                                <input type="text" name="Cert.ObtainDate"  value="@(item.ObtainDate)" class="form-control input-sm datepicker"/>
                            </td>
                            @if (!isViewPage)
                            {
                                <td>
                                    <a class="btn btn-xs btn-danger btn-delete">删除</a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="tab-pane fade" id="profile-job">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 150px;">开始时间</th>
                        <th style="width: 150px;">结束时间</th>
                        <th style="width: 200px;">工作单位</th>
                        <th style="width: 150px;">职务</th>
                        <th>备注</th>
                        @if (!isViewPage)
                        {
                            <th style="width: 80px;">
                                <button id="btn-add-job" class="btn btn-xs btn-primary">添加</button></th>
                        }
                    </tr>
                </thead>
                <tbody id="list-job">
                    @foreach (var item in profile.Jobs)
                    { 
                        <tr>
                            <td>
                                <input type="text" name="job.StartDate"  value="@(item.StartDate)" class="form-control input-sm datepicker"/>
                            </td>
                            <td>
                                <input type="text" name="job.EndDate"  value="@(item.EndDate)" class="form-control input-sm datepicker"/>
                            </td>
                            <td>
                                <input type="text" name="job.Institution"  value="@(item.Institution)" class="form-control input-sm"/>
                            </td>
                            <td>
                                <input type="text" name="job.Office"  value="@(item.Office)" class="form-control input-sm"/>
                            </td>
                            <td>
                                <input type="text" name="job.Note"  value="@(item.Note)" class="form-control input-sm"/>
                            </td>
                            @if (!isViewPage)
                            {
                                <td>
                                    <a class="btn btn-xs btn-danger btn-delete">删除</a>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @if (showExamAndEducaiton)
        {
            <div class="tab-pane fade" id="profile-examresult">
                <table class="table table-bordered">
                    <tr>
                        <th>培训名称</th>
                        <th>报名时间</th>
                        <th>培训时间</th>
                        <th>培训成绩</th>
                    </tr>
                    @foreach (var item in examResults)
                    { 
                        <tr>
                            <td>@(item.Exam.Name)</td>
                            <td>@(item.CreateTime.ToShortDateString())</td>
                            <td>@(item.Exam.StartExamDate.ToShortDateString()) ~ @(item.Exam.EndExamDate.ToShortDateString())</td>
                            <td>
                                @(string.IsNullOrEmpty(item.Scores) ? item.Subjects : item.Scores)
                            </td>
                        </tr>
                    }
                </table>
            </div>
            
            <div class="tab-pane fade" id="profile-education">
                <table class="table table-bordered">
                    <tr>
                        <th>继续教育名称</th>
                        <th>学习时间</th>
                        <th>教育机构</th>
                        <th>报名时间</th>
                        <th>审核状态</th>
                    </tr>
                    @foreach (var item in educations)
                    { 
                        <tr>
                            <td>@(item.Name)</td>
                            <td>@(item.StartDate.ToShortDateString()) ~ @(item.EndDate.ToShortDateString())</td>
                            <td>@(item.Agency)</td>
                            @if (item.Approval == null)
                            { 
                                <td colspan="2"><span class="label label-default">未报名</span>n</td>
                            }
                            else
                            {
                                <td>@(item.Approval.CreateTime.ToShortDateString())</td>
                                <td>
                                    @if (item.Approval.Result.HasValue)
                                    {

                                        if (item.Approval.Result.Value)
                                        { 
                                        <span class="label label-success">已通过</span>
                                        }
                                        else
                                        {
                                        <span class="label label-warning">未通过</span>
                                        }
                                    }
                                    else
                                    {
                                        <span class="label label-default">未出成绩</span>
                                    }
                                </td>
                            }
                        </tr>
                    }
                </table>
            </div>
            
        }

        @if (isViewPage)
        { 
            <div class="tab-pane fade" id="profile-history">
                <table class="table table-bordered">
                    <tr>
                        <th>申请类型</th>
                        <th>申请日期</th>
                        <th>审核时间</th>
                        <th>审核结果</th>
                        <th>查看</th>
                    </tr>
                    @foreach (var item in checklogs)
                    { 
                        <tr>
                            <td>@(item.CheckType.GetDescription())</td>
                            <td>@(item.CreateTime.ToString())</td>
                            <td>@(item.UpdateTime.HasValue?item.UpdateTime.Value.ToString():null)</td>
                            <td>
                                @if (item.Result.HasValue)
                                {
                                    if (item.Result.Value)
                                    { 
                                    <span class="label label-success">已通过</span>
                                    }
                                    else
                                    {
                                    <span class="label label-warning">未通过</span>
                                    }

                                }
                                else
                                {
                                    <span class="label label-default">未审核</span>
                                }
                            </td>
                            <td>
                                @if (item.CheckType == CheckType.Practice || item.CheckType == CheckType.Profile)
                                { 
                                    <a href="?id=@(item.UserID)&checkLogId=@(item.ID)" class="btn btn-xs btn-primary">历史资料</a>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
    </div>
    @if (!isViewPage)
    {
        <input type="hidden" name="ID" value="@(profile.ID)" />
        <input type="hidden" name="Status" value="@(profile.Status)" />
        <input type="hidden" id="profile-submit-type" />
        <div style="padding: 10px;">
            @if (isAddPage)
            { 
                <button id="btn-submit-save" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;新增会员</button>
            }
            else
            {
                <button id="btn-submit-save" type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;保存资料</button>
            }
            @if (profile.Status != MemberStatus.Normal && !isPracticePage)
            {
                <button id="btn-submit-profile" type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i>&nbsp;提交资料变更申请</button>
            }
            @if (profile.Status == MemberStatus.Registered && isPracticePage)
            { 
                <button id="btn-submit-practice" type="submit" class="btn btn-warning"><i class="glyphicon glyphicon-ok"></i>&nbsp;提交执业登记申请</button>
            }
            <a href="/institution/member" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i>&nbsp;返回</a>
        </div>
    }

</form>
@if (isViewPage)
{
    <script>
        $(function () {
            $("#profile-form input,#profile-form select").attr("disabled", true);
        });
    </script>
    return;
}
<script>
    $(function () {
        setList("list-cert", "btn-add-cert");
        setList("list-job", "btn-add-job");
        function setList(listId, btnAddId) {
            var list = $("#" + listId);
            var template = "<tr>" + $("tr", list).last().html() + "</tr>";
            $("tr", list).last().remove();
            $("#" + btnAddId).bind("click", function () {
                list.append(template);
                $(".datepicker").datepicker();
                setBtnDelete();
                return false;
            });

            $(".datepicker").datepicker();
            setBtnDelete();
            function setBtnDelete() {
                $(".btn-delete").unbind("click").bind("click", function () {
                    var tr = $(this).parent().parent();
                    tr.remove();
                });
            }
        }

        var form = $("#profile-form");

        $("#profile-file1").setUpload("/institution/file/upload?index=0&fileName=@(getFileName(profile.Photo1))", function (json) {
            if (json.result) {
                $("#profile-photo1").val(json.data);
                $("#profile-preview-photo1").html('<a href="' + json.data + '" title="点击查案大图" target="_blank"><img src="' + json.data + '" class="img-preview" /></a>');
            }
            else {
                alert(json.message);
            }
        });

        $("#profile-file2").setUpload("/institution/file/upload?index=1&fileName=@(getFileName(profile.Photo2))", function (json) {
            if (json.result) {
                $("#profile-photo2").val(json.data);
                $("#profile-preview-photo2").html('<a href="' + json.data + '" title="点击查案大图" target="_blank"><img src="' + json.data + '" class="img-preview" /></a>');
            }
            else {
                alert(json.message);
            }
        });

        var controlSubmitType = $("#profile-submit-type");

        $("#btn-submit-save").click(function () {
            controlSubmitType.val("");
            submitFormBySave();
            form.submit();
            return false;
        });

        $("#btn-submit-practice").click(function () {
            controlSubmitType.val("Practice");
            submitFormBySave();
            form.submit();
            return false;
        });

        $("#btn-submit-profile").click(function () {
            controlSubmitType.val("Profile");
            submitFormBySave();
            form.submit();
            return false;
        });

        function submitFormByUpload() {
            form.unbind("submit").bind("submit", function () { });
        }

        function submitFormBySave() {
            form.removeAttr("target");
            form.removeAttr("enctype");
            form.unbind("submit").bind("submit", function () {

                var type = controlSubmitType.val();
                var data = $(this).serialize();
                $.request("edit?id=@(profile.ID)&type=" + type, data, function () {
                    alert((type ? "提交" : "保存") + "成功");
                    window.location.href = "@(Request.Url.AbsoluteUri)";
                });
                return false;
            });
        }


    });
</script>
