@using Loowoo.LandInst.Model
@using Loowoo.LandInst.Common
@{
    ViewBag.Title = "会员管理";
    Layout = "~/Areas/Institution/Views/Shared/_Layout.cshtml";
    List<Member> list = ViewBag.List;
    Institution currentInst = ViewBag.CurrentInst;
}

<form class="form-inline search-form">
    <div class="col-lg-8">
        <div class="input-group">
            <span class="input-group-addon">查询会员</span>
            <input type="text" class="form-control" name="name" placeholder="会员姓名" value="@(Request.QueryString["name"])">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>查询</button>
            </div>
        </div>
    </div>
</form>

<table class="table table-bordered">
    <tr>
        <th style="width: 80px;">姓名</th>
        <th style="width: 50px;">性别</th>
        <th style="width: 120px;">出生年月</th>
        <th style="width: 150px;">专业</th>
        <th style="width: 150px;">学历</th>
        <th style="width:100px;">状态</th>
        <th style="width: 150px;">管理</th>
    </tr>
    @foreach (var item in list)
    { 
        <tr>
            <td><a href="/institution/member/profile?id=@(item.ID)">@(string.IsNullOrEmpty(item.RealName)?"[无名氏]":item.RealName)</a> @Html.Raw(item.InstitutionID == 0 ? "<span class=\"label label-warning\">外</span>" : null)</td>
            <td>@(item.Gender)</td>
            <td>@(item.Birthday.HasValue ? item.Birthday.Value.ToShortDateString() : null)</td>
            <td>@(item.Major == 0 ? "" : item.Major.ToString())</td>
            <td>@(item.EduRecord == 0 ? "" : item.EduRecord.ToString())</td>
            <td>@(item.Status.GetDescription())</td>
            <td>
                <a href="/institution/member/edit?id=@(item.ID)" class="btn btn-xs btn-primary"><i class="glyphicon glyphicon-edit"></i>&nbsp;资料变更</a>
                @if (item.Status == MemberStatus.Normal)
                {
                    <a href="/institution/exam/signup?memberId=@(item.ID)" class="btn btn-xs btn-warning"><i class="glyphicon glyphicon-pencil"></i>&nbsp;培训</a>
                }
                else
                {
                <a href="/institution/member/practice?memberId=@(item.ID)" class="btn btn-xs btn-success"><i class="glyphicon glyphicon-ok"></i>&nbsp;执业</a>
                }
                <a href="/institution/member/transferout?memberId=@(item.ID)" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-transfer"></i>&nbsp;转出</a>
            </td>
        </tr>
    }
    <tr>
        <td colspan="7">@Html.Partial("_pagination", ViewBag.Page as object)</td>
    </tr>
</table>

@*<input type="button" value="转入会员" class="btn btn-primary" data="transfer-in" />

<input type="button" value="转出会员" class="btn btn-primary" data="transfer-out" />

<input type="button" value="执业登记" class="btn btn-primary" data="practice" />*@

@*<script>
    $(function () {
        $("#btn-select").click(function () {
            $("input[type='checkbox']").prop('checked', this.checked);
        });


        $(".btn-primary").click(function () {
            var data = $(this).attr("data");
            var ids = getSelected();
            if (!ids) {
                alert("没有选择会员");
                return;
            }
            switch (data) {
                case "transfer-in":
                case "transfer-out":
                    window.location.href = "/institution/member/transfer?mode=" + data + "&id=" + ids;
                    break;
                case "practice":
                    window.location.href = "/institution/member/practice?id=" + ids;
                    break;
            }
        });

        function getSelected() {
            var ids = [];
            $("input[name='id']:checked").each(function () {
                var val = $(this).val();
                ids.push(val);

            });

            return ids.join();
        }
    });
</script>*@
