@using Loowoo.LandInst.Model
@{
    ViewBag.Title = "会员管理";
    Layout = "~/Areas/Institution/Views/Shared/_Layout.cshtml";
    List<Member> list = ViewBag.List;
    Institution currentInst = ViewBag.CurrentInst;
}

<form class="form-inline search-form">
    <div class="col-lg-8">
        <div class="input-group">
            <span class="input-group-addon">查询会员</span>
            <input type="text" class="form-control" name="name" placeholder="会员姓名" value="@(Request.QueryString["name"])">
            <div class="input-group-btn">
                <input type="submit" class="btn btn-primary" value="查询" />
            </div>
        </div>
    </div>
</form>

<table class="table table-bordered">
    <tr>
        <th style="width: 80px;">姓名</th>
        <th style="width: 50px;">性别</th>
        <th style="width: 120px;">出生年月</th>
        <th style="width: 150px;">电话</th>
        <th style="width: 150px;">Email</th>
        <th>所属单位</th>
        <th style="width: 100px;">管理</th>
    </tr>
    @foreach (var item in list)
    { 
        <tr>
            <td><a href="/institution/member/profile?id=@(item.ID)">@(item.RealName)</a></td>
            <td>@(item.Gender)</td>
            <td>@(item.Birthday.HasValue ? item.Birthday.Value.ToShortDateString() : null)</td>
            <td>@(item.MobilePhone)</td>
            <td>@(item.Email)</td>
            <td>@(item.InstitutionID == currentInst.ID ? currentInst.Name : "-")</td>
            <td>
                <a href="/institution/member/staff?memberId=@(item.ID)" class="btn btn-xs btn-primary">执业</a>
                @if (item.InstitutionID == 0)
                {
                    <a href="/institution/member/transferin?memberId=@(item.ID)" class="btn btn-xs btn-success">转入</a>
                }
                else
                {
                    <a href="/institution/member/transferout?memberId=@(item.ID)" class="btn btn-xs btn-warning">转出</a>
                }
            </td>
        </tr>
    }
    <tr>
        <td colspan="7">@Html.Partial("_pagination", ViewBag.Page as object)</td>
    </tr>
</table>

@*<input type="button" value="转入会员" class="btn btn-primary" data="transfer-in" />

<input type="button" value="转出会员" class="btn btn-primary" data="transfer-out" />

<input type="button" value="执业登记" class="btn btn-primary" data="staff" />*@

@*<script>
    $(function () {
        $("#btn-select").click(function () {
            $("input[type='checkbox']").prop('checked', this.checked);
        });


        $(".btn-primary").click(function () {
            var data = $(this).attr("data");
            var ids = getSelected();
            if (!ids) {
                alert("没有选择会员");
                return;
            }
            switch (data) {
                case "transfer-in":
                case "transfer-out":
                    window.location.href = "/institution/member/transfer?mode=" + data + "&id=" + ids;
                    break;
                case "staff":
                    window.location.href = "/institution/member/staff?id=" + ids;
                    break;
            }
        });

        function getSelected() {
            var ids = [];
            $("input[name='id']:checked").each(function () {
                var val = $(this).val();
                ids.push(val);

            });

            return ids.join();
        }
    });
</script>*@
