@using Loowoo.LandInst.Model
@{
    ViewBag.Title = "人员执业登记";
    Layout = "~/Areas/Institution/Views/Shared/_Layout.cshtml";
    MemberProfile member = ViewBag.MemberProfile;
    CheckLog approval = ViewBag.CheckLog;
    PracticeInfo practice = ViewBag.Practice ?? new PracticeInfo();
    practice.Certifications.Add(new Certification());
    practice.Jobs.Add(new Job());
    Institution inst = ViewBag.Institution ?? new Institution();
}
@if (member == null)
{
    <form id="practice-form" role="form" class="form-horizontal" method="post">
        @Html.Partial("_MemberProfile", member)
        <div class="form-group">
            <label class="control-label col-lg-2"></label>
            <div class="col-sm-3">
                <input type="submit" value="确认选择" class="btn btn-primary" />
            </div>
        </div>
    </form>
    <script>
        $(function () {
            $("#practice-form").submit(function () {
                var memberId = $("#memberId").val();
                if (memberId) {
                    window.location.href = "/institution/member/practice?memberId=" + memberId;
                }
                else {
                    alert("请选择一个会员");
                }
                return false;
            });
        });
    </script>
    return;
}

<form id="practice-form" role="form" class="form-horizontal" method="post">
    @if (approval != null)
    { 
        <div class="alert alert-warning">
            @(member.RealName)的执业登记信息已于<span class="label label-default">@(approval.CreateTime.ToShortDateString())</span>提交申请，
            @if (approval.Result.HasValue)
            { 
                @:与@(approval.UpdateTime.Value.ToShortDateString()) 
                if (approval.Result.Value)
                {
                <span class="label label-success">审批通过</span>
                }
                else
                {
                @:<span class="label label-warning">没通过审批</span> 原因： @(approval.Note)
                }
            }else
            {
                @:目前<span class="label label-default">尚未审批</span>，请等待管理员审批。
            }
        </div>
    }
    <legend>会员信息</legend>
    @Html.Partial("_MemberProfile", member)
<legend>执业信息</legend>
<div class="form-group">
    <label class="control-label col-lg-2">从业人员职业培训合格证号</label>
    <div class="col-sm-3">
        <input type="text" name="CertificationNO" class="form-control input-sm" value="@(practice.CertificationNO)" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-lg-2">档案代管机构</label>
    <div class="col-sm-3">
        <input type="text" name="PersonalRecordsInstitution" class="form-control input-sm" value="@(practice.PersonalRecordsInstitution)" />
    </div>
    <label class="control-label col-lg-2">档案编号</label>
    <div class="col-sm-3">
        <input type="text" name="PracticeRegistrationNO" class="form-control input-sm" value="@(practice.PracticeRegistrationNO)" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-lg-2">社保机构</label>
    <div class="col-sm-3">
        <input type="text" name="SocialSecurityInstitution" class="form-control input-sm" value="@(practice.SocialSecurityInstitution)" />
    </div>
    <label class="control-label col-lg-2">社保编号</label>
    <div class="col-sm-3">
        <input type="text" name="SocialSecurityNO" class="form-control input-sm" value="@(practice.SocialSecurityNO)" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-lg-2">从业机构</label>
    <div class="col-sm-3">
        <input type="text"  class="form-control input-sm" value="@(inst.Name)" disabled="disabled" />
    </div>
    <label class="control-label col-lg-2">职务</label>
    <div class="col-sm-3">
        <input type="text" name="Office" class="form-control input-sm" value="@(practice.Office)" />
    </div>
</div>
<div class="form-group">
    <label class="control-label col-lg-2">法定代表人</label>
    <div class="col-sm-3">
        <input type="text" class="form-control input-sm" value="@(inst.LegalPerson)" disabled="disabled" />
    </div>
    <label class="control-label col-lg-2">电话</label>
    <div class="col-sm-3">
        <input type="text" name="MobilePhone" class="form-control input-sm" value="@(practice.MobilePhone)" />
    </div>
</div>
<legend>其它经济鉴证资格</legend>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>证书名称</th>
            <th>证书编号</th>
            <th style="width:150px;">获取日期</th>
            <th style="width:80px;"><button id="btn-add-cert" class="btn btn-xs btn-primary">添加</button></th>
        </tr>
    </thead>
    <tbody id="list-cert">
        @foreach (var item in practice.Certifications)
        { 
            <tr>
                <td>
                    <input type="text" name="Cert.Name"  value="@(item.Name)" class="form-control input-sm"/>
                </td>
                <td>
                    <input type="text" name="Cert.No"  value="@(item.CertificationNo)" class="form-control input-sm"/>
                </td>
                <td>
                    <input type="text" name="Cert.ObtainDate"  value="@(item.ObtainDate)" class="form-control input-sm"/>
                </td>
                <td>
                    <a class="btn btn-xs btn-warning btn-delete">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<legend>工作简历</legend>
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width:150px;">开始时间</th>
            <th style="width:150px;">结束时间</th>
            <th style="width:200px;">工作单位</th>
            <th style="width:150px;">职务</th>
            <th>备注</th>
            <th style="width:80px;"><button id="btn-add-job" class="btn btn-xs btn-primary">添加</button></th>
        </tr>
    </thead>
    <tbody id="list-job">
        @foreach (var item in practice.Jobs)
        { 
            <tr>
                <td>
                    <input type="text" name="job.StartDate"  value="@(item.StartDate)" class="form-control input-sm"/>
                </td>
                <td>
                    <input type="text" name="job.EndDate"  value="@(item.EndDate)" class="form-control input-sm"/>
                </td>
                <td>
                    <input type="text" name="job.Institution"  value="@(item.Institution)" class="form-control input-sm"/>
                </td>
                <td>
                    <input type="text" name="job.Office"  value="@(item.Office)" class="form-control input-sm"/>
                </td>
                <td>
                    <input type="text" name="job.Note"  value="@(item.Note)" class="form-control input-sm"/>
                </td>
                <td>
                    <a class="btn btn-xs btn-warning btn-delete">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(function () {
        {
            var certList = $("#list-cert");
            var certificationTemp = "<tr>" + $("tr", certList).last().html() + "</tr>";
            $("#btn-add-cert").bind("click", function () {
                certList.append(certificationTemp);
                $(".btn-delete").unbind("click").bind("click", function () {
                    var tr = $(this).parent().parent();
                    tr.remove();
                });
                return false;
            });
        }
        {
            var jobList = $("#list-job");
            var jobTemp = "<tr>" + $("tr", jobList).last().html() + "</tr>";
            $("#btn-add-job").bind("click", function () {
                jobList.append(jobTemp);
                $(".btn-delete").unbind("click").bind("click", function () {
                    var tr = $(this).parent().parent();
                    tr.remove();
                });
                return false;
            });
        }
    });
</script>
    <button type="submit" class="btn btn-primary">提交执业申请</button>
</form>
<script>
    $(function () {
        $("#practice-form").submit(function () {
            var data = $(this).serialize();
            $.request("/institution/member/practice?memberid=@(Request.QueryString["memberId"])", data, function () {
                alert("提交成功");
                window.location.href = "@Html.Raw(Request.Url.AbsoluteUri)";
            });
            return false;
        });
    });
</script>
