@using Loowoo.LandInst.Model
@{
    ViewBag.Title = "会员转移审核情况列表";
    Layout = "~/Areas/Institution/Views/Shared/_Layout.cshtml";
    List<VCheckMember> list = ViewBag.List;
    Loowoo.LandInst.Model.Institution currentInst = ViewBag.CurrentInst;
}
<form class="form-inline search-form">
    <div class="col-lg-8">
        <div class="input-group">
            <span class="input-group-addon">查询会员</span>
            <input type="text" class="form-control" name="name" placeholder="会员姓名" value="@(Request.QueryString["name"])">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> 查询</button>
            </div>
        </div>
    </div>
</form>
<table class="table table-bordered">
    <tr>
        <th>会员姓名</th>
        <th style="width: 80px;">转移方式</th>
        <th style="width: 120px;">申请日期</th>
        <th style="width: 80px;">审核状态</th>
        <th style="width: 120px;">审核日期</th>
    </tr>
    @foreach (var item in list)
    {
        var mode = "转入";
        if (item.Result.HasValue && item.Result.Value)
        {
            if (item.InstitutionID != currentInst.ID)
            {
                mode = "转出";
            }
        }
        else
        {
            if (item.InstitutionID == currentInst.ID)
            {
                mode = "转出";
            }
        }
        <tr>
            <td><a href="/institution/member/profile?id=@(item.UserID)">@(item.RealName)</a></td>
            <td>@(mode)</td>
            <td>@(item.CreateTime.ToShortDateString())</td>
            <td>
                @if (item.Result.HasValue)
                {
                    if (item.Result.Value)
                    { 
                    <span class="label label-success">已通过</span>
                    }
                    else
                    {
                    <span class="label label-warning">未通过</span>
                    }

                }
                else
                {
                    <span class="label label-default">未审核</span>
                }
            </td>
            <td>@(item.UpdateTime.HasValue ? item.UpdateTime.Value.ToShortDateString() : "- / - / -")
            </td>
        </tr>
    }<tr>
        <td colspan="6">@Html.Partial("_pagination", ViewBag.Page as object)</td>
    </tr>
</table>
