@using Loowoo.LandInst.Model
@{
    MemberProfile profile = ViewBag.Profile;
    Institution inst = ViewBag.Institution ?? new Institution();
    List<Exam> exams = ViewBag.Exams;
}
<form id="profile-form" role="form" class="form-horizontal" method="post">
    <fieldset class="col-lg-6">
        <legend>基本信息</legend>
        <div class="form-group">
            <label class="control-label col-lg-3">姓名</label>
            <div class="col-sm-5">
                <input type="text" name="Realname" class="form-control input-sm" value="@(profile.RealName)" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">性别</label>
            <div class="col-sm-5">
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="Gender" value="男" @(profile.Gender == "男" ? "checked=checked" : null) />男</label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="Gender" value="女" @(profile.Gender == "女" ? "checked=checked" : null) />女</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">出生日期</label>
            <div class="col-sm-5">
                <input type="text" name="Birthday" class="form-control input-sm" value="@(profile.Birthday.HasValue ? profile.Birthday.Value.ToShortDateString() : null)" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">身份证号码</label>
            <div class="col-sm-5">
                <input type="text" name="IDNo" class="form-control input-sm" value="@(profile.IDNo)" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">联系电话</label>
            <div class="col-sm-5">
                <input type="text" name="MobilePhone" class="form-control input-sm"  value="@(profile.MobilePhone)" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">电子信箱</label>
            <div class="col-sm-5">
                <input type="text" name="Email" class="form-control input-sm" value="@(profile.Email)" />
            </div>
        </div>
    </fieldset>
    <fieldset class="col-lg-6">
        <legend>详细信息</legend>
        <div class="form-group">
            <label class="control-label col-lg-3">民族</label>
            <div class="col-sm-5">
                <input type="text" name="Nationality" class="form-control input-sm" value="@(profile.Nationality)" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">籍贯</label>
            <div class="col-sm-5">
                <input type="text" name="NativePlace" class="form-control input-sm"  value="@(profile.NativePlace)" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">政治面貌</label>
            <div class="col-sm-5">
                <input type="text" name="PoliticalState" class="form-control input-sm"  value="@(profile.PoliticalState)" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">职称</label>
            <div class="col-sm-5">
                <input type="text" name="Title" class="form-control input-sm"  value="@(profile.Title)" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">毕业学校</label>
            <div class="col-sm-5">
                <input type="text" name="School" class="form-control input-sm"  value="@(profile.School)" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">专业</label>
            <div class="col-sm-5">
                <input type="text" name="Major" class="form-control input-sm" value="@(profile.Major)" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">学历</label>
            <div class="col-sm-5">
                <input type="text" name="EduRecord" class="form-control input-sm"  value="@(profile.EduRecord)" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">通信地址</label>
            <div class="col-sm-5">
                <input type="text" name="Address" class="form-control input-sm"  value="@(profile.Address)" />
            </div>
        </div>
    </fieldset>
    @if (exams != null)
    {
        <fieldset style="clear: both;">
            <legend>选择考试</legend>
            <div class="form-group">
                <label class="control-label col-lg-2">选择考试</label>
                <div class="col-sm-3">
                    <select name="ExamId" class="form-control input-sm">
                        @foreach (var exam in exams)
                        { 
                            <option value="@(exam.ID)">@(exam.Name)</option>
                        }
                    </select>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <label class="control-label col-lg-3"></label>
            <div class="col-sm-5">
                <div>请确保以上资料填写真实、完整</div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3"></label>
            <div class="col-sm-5">
                <button type="submit" class="btn btn-primary">提交注册</button>
            </div>
        </div>
        <script>
            $(function () {
                $("#profile-form").submit(function () {
                    var data = $(this).serialize();
                    $.request("/member/exam/signup?examid=" + date.ExamId, data, function (json) {
                        if (json.result) {
                            alert("报名成功！");
                            window.location.href = "/member/";
                        }
                    });
                    return false;
                });
            });
        </script>
    }
    else
    {
        <div class="form-group">
            <label class="control-label col-lg-3"></label>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary">保存资料</button>
            </div>
        </div>
        <script>
            $(function () {
                $("#profile-form").submit(function () {
                    var data = $(this).serialize();
                    $.request("/member/profile/edit", data, function () {
                        alert("保存成功！");
                        window.location.href = "/member/profile/edit";
                    });
                });
            });
        </script>
    }
</form>
