@using Loowoo.LandInst.Model
@{
    MemberProfile profile = ViewBag.Profile;
    Institution inst = ViewBag.Institution ?? new Institution();
    CheckLog examCheckLog = ViewBag.CheckLog;
    Exam indateExam = ViewBag.IndateExam;
}
<div class="alert alert-warning">
    @if (examCheckLog != null && examCheckLog.Result != false)
    { 
        @:您已于@(examCheckLog.CreateTime.ToString())申请了考试，
        if (examCheckLog.Result.HasValue)
        {
            if (examCheckLog.Result.Value)
            {
                Response.Redirect("/member/exam");
                return;
            }
        }
        else
        {
        @:请耐心等待审批，审批前您可以修改资料。
        }
    }
    else
    {
        @:请确保以下资料填写真实、完整，方便顺利通过考试审批。
    }
</div>

<form id="profile-form" role="form" class="form-horizontal" method="post">
    <fieldset class="col-lg-6">
        <legend>基本信息</legend>
        <div class="form-group">
            <label class="control-label col-lg-3">姓名</label>
            <div class="col-sm-5">
                <input type="text" name="Realname" class="form-control input-sm" value="@(profile.RealName)" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">性别</label>
            <div class="col-sm-5">
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="Gender" value="男" @(profile.Gender == "男" ? "checked=checked" : null) />男</label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input type="radio" name="Gender" value="女" @(profile.Gender == "女" ? "checked=checked" : null) />女</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">出生日期</label>
            <div class="col-sm-5">
                <input type="text" name="Birthday" class="form-control input-sm" value="@(profile.Birthday.HasValue ? profile.Birthday.Value.ToShortDateString() : null)" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">身份证号码</label>
            <div class="col-sm-5">
                <input type="text" name="IDNo" class="form-control input-sm" value="@(profile.IDNo)" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">专业</label>
            <div class="col-sm-5">
                @Html.DropDownList("Major", Enum.GetNames(typeof(Major)).Select(name => new SelectListItem
               {
                   Selected = (Major)Enum.Parse(typeof(Major), name) == profile.Major,
                   Value = ((int)Enum.Parse(typeof(Major), name)).ToString(),
                   Text = name,
               }), new { @class = "form-control input-sm" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">学历</label>
            <div class="col-sm-5">
                @Html.DropDownList("EduRecord", Enum.GetNames(typeof(EduRecord)).Select(name => new SelectListItem
               {
                   Selected = (EduRecord)Enum.Parse(typeof(EduRecord), name) == profile.EduRecord,
                   Value = ((int)Enum.Parse(typeof(EduRecord), name)).ToString(),
                   Text = name,
               }), new { @class = "form-control input-sm" })
            </div>
        </div>
    </fieldset>
    <fieldset class="col-lg-6">
        <legend>详细信息</legend>
        <div class="form-group">
            <label class="control-label col-lg-3">民族</label>
            <div class="col-sm-5">
                <input type="text" name="Nationality" class="form-control input-sm" value="@(profile.Nationality)" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">籍贯</label>
            <div class="col-sm-5">
                <input type="text" name="NativePlace" class="form-control input-sm"  value="@(profile.NativePlace)" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">政治面貌</label>
            <div class="col-sm-5">
                <input type="text" name="PoliticalState" class="form-control input-sm"  value="@(profile.PoliticalState)" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">职称</label>
            <div class="col-sm-5">
                <input type="text" name="Title" class="form-control input-sm"  value="@(profile.Title)" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">毕业学校</label>
            <div class="col-sm-5">
                <input type="text" name="School" class="form-control input-sm"  value="@(profile.School)" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">Email</label>
            <div class="col-sm-5">
                <input type="text" name="Email" class="form-control input-sm" value="@(profile.Email)" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">手机</label>
            <div class="col-sm-5">
                <input type="text" name="MobilePhone" class="form-control input-sm"  value="@(profile.MobilePhone)" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">通信地址</label>
            <div class="col-sm-5">
                <input type="text" name="Address" class="form-control input-sm"  value="@(profile.Address)" />
            </div>
        </div>
    </fieldset>
    @if (indateExam != null && (examCheckLog == null || examCheckLog.Result == false))
    {
        <legend>考试信息</legend>
        <table class="table table-bordered">
            <tr>
                <th>考试名称</th>
                <td>@(indateExam.Name)</td>
                <th>考试地点</th>
                <td>@(indateExam.StartExamDate.ToShortDateString()) ~ @(indateExam.EndExamDate.ToShortDateString())</td>
            </tr>
            <tr>
                <th>报名时间</th>
                <td>@(indateExam.StartSignDate.ToShortDateString()) ~ @(indateExam.EndSignDate.ToShortDateString())</td>
                <th>考试时间</th>
                <td>@(indateExam.StartExamDate.ToShortDateString()) ~ @(indateExam.EndExamDate.ToShortDateString())</td>
            </tr>
            <tr>
                <th>简介</th>
                <td colspan="3">@(indateExam.Summary)</td>
            </tr>
        </table>
        <div class="form-group">
            <label class="control-label col-lg-3"></label>
            <div class="col-sm-5">
                <button type="submit" class="btn btn-primary">提交报名注册</button>
            </div>
        </div>
        <script>
            $(function () {
                $("#profile-form").submit(function () {
                    var data = $(this).serialize();
                    $.request("/member/exam/signup?examId=@(indateExam.ID)", data, function (json) {
                        alert("报名成功！");
                        window.location.href = "/member/";
                    });
                    return false;
                });
            });
        </script>
    }
    else
    {
        <div class="form-group">
            <label class="control-label col-lg-3"></label>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary">保存资料</button>
            </div>
        </div>
        <script>
            $(function () {
                $("#profile-form").submit(function () {
                    var data = $(this).serialize();
                    $.request("/member/profile/edit", data, function () {
                        alert("保存成功！");
                        window.location.href = "/member/profile/edit";
                    });
                    return false;
                });
            });
        </script>
    }
</form>
