@using Loowoo.LandInst.Model
@{
    ViewBag.Title = "Profile";
    Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";

    MemberProfile model = ViewBag.Profile;
    var disabled = model.Status == MemberStatus.Register;
}

@if (disabled)
{
    <h2>个人资料</h2>
    <label>真实姓名：</label>@(model.RealName)
    <label>电话：</label>@(model.MobilePhone)
    <label>身份证号：</label>@(model.IDNo)

}
else
{
    <form id="signupexam-form" role="form" class="form-horizontal" method="post">
        <label class="control-label">姓名</label>
        <input type="text" name="Realname" class="form-control input-sm" value="@(model.RealName)" />
        <label class="control-label">民族</label>
        <input type="text" name="Nationality" class="form-control input-sm" value="@(model.Nationality)" />
        <label class="control-label">籍贯</label>
        <input type="text" name="NativePlace" class="form-control input-sm"  value="@(model.PoliticalState)"/>
        <button type="submit" class="btn btn-primary">修改资料</button>

    </form>
}