@using Loowoo.LandInst.Model
@{
    Layout = "~/Areas/Member/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "执业登记信息";
    PracticeInfo practice = ViewBag.Practice ?? new PracticeInfo();
    CheckLog checkLog = ViewBag.CheckLog;
}

@if (checkLog != null)
{ 
    <div class="alert alert-warning">
        贵机构已于@(checkLog.CreateTime.ToShortDateString())为你提交了执业登记申请。
    </div>
}
<table class="table table-bordered">
    <tr>
        <th style="width: 180px;">人事档案编号</th>
        <td>@(practice.PersonalRecordsNO)</td>
        <th style="width: 180px;">人事档案存放机构</th>
        <td>@(practice.PersonalRecordsInstitution)</td>
    </tr>
    <tr>
        <th>个人社会保险编号</th>
        <td>@(practice.SocialSecurityNO)</td>
        <th>个人社会保险存放机构</th>
        <td>@(practice.SocialSecurityInstitution)</td>
    </tr>
    <tr>
        <th>职业登记号</th>
        <td>@(practice.PracticeRegistrationNO)</td>
        <th>资格证书号</th>
        <td>@(practice.CertificationNO)</td>
    </tr>
    <tr>
        <th>其他资格证书</th>
        <td colspan="3" style="padding: 0px;">
            <table class="table">
                <tr>
                    <th>编号</th>
                    <th>名称</th>
                    <th style="width: 150px;">获取时间</th>
                </tr>
                @foreach (var cert in practice.Certifications)
                { 
                    <tr>
                        <td>@(cert.CertificationNo)</td>
                        <td>@(cert.Name)</td>
                        <td>@(cert.ObtainDate.HasValue ? cert.ObtainDate.Value.ToShortDateString() : null)</td>
                    </tr>
                }
            </table>
        </td>
    </tr>
    <tr>
        <th>工作简历</th>
        <td colspan="3" style="padding: 0px;">
            <table class="table">
                <tr>
                    <th style="width: 300px;">时间</th>
                    <th>工作单位</th>
                    <th>职务</th>
                    <th>备注</th>
                </tr>
                @foreach (var job in practice.Jobs)
                { 
                    <tr>
                        <td>@(job.StartDate)~ @(job.EndDate)</td>
                        <td>@(job.Institution)</td>
                        <td>@(job.Office)</td>
                        <td>@(job.Note)</td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>
