@using Loowoo.LandInst.Model
@{
    Layout = "~/Areas/Institution/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "成绩查询";
    List<Exam> exams = ViewBag.Exams;
    List<VExamResult> list = ViewBag.List;
}

<form class="form-inline search-form">
    <div class="col-lg-8">
        <div class="input-group">
            <span class="input-group-addon">查询会员</span>
            <input type="text" class="form-control" name="name" placeholder="会员姓名" value="@(Request.QueryString["name"])">
            <div class="input-group-btn">
                <select name="examId" class="form-control">
                    <option value="0">选择考试</option>
                    @foreach (var exam in exams)
                    { 
                        <option value="@(exam.ID)" @(Html.Raw(exam.ID.ToString() == Request.QueryString["examId"] ? " selected=\"selected\"" : null))>@(exam.Name)</option>
                    }
                </select>
            </div>
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>查询</button>
            </div>
        </div>
    </div>
</form>
<table class="table table-bordered">
    <tr>
        <th style="width: 120px;">姓名</th>
        <th>考试名称</th>
        <th>报名时间</th>
        <th>考试时间</th>
        <th style="width: 170px;">报名日期</th>
        <th>科目分数</th>
    </tr>
    @foreach (var item in list)
    { 
        <tr>
            <td><a href="/institution/member/profile?id=@(item.MemberID)">@(item.RealName)</a></td>
            <td>@(item.Exam.Name)</td>
            <td>@(item.Exam.StartSignDate.ToShortDateString()) ~ @(item.Exam.EndSignDate.ToShortDateString())</td>
            <td>@(item.Exam.StartExamDate.ToShortDateString()) ~ @(item.Exam.EndExamDate.ToShortDateString())</td>
            <td>@(item.CreateTime.ToString())</td>
            <td>@(string.IsNullOrEmpty(item.Scores) ? item.Subjects : item.Scores)</td>
        </tr>
    }
    <tr>
        <td colspan="10">@Html.Partial("_pagination", ViewBag.Page as object)</td>
    </tr>
</table>
