@using Loowoo.LandInst.Model
@{
    Layout = "~/Areas/Institution/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "报名培训";
    Exam exam = ViewBag.Exam;
    if (exam == null)
    {
    <div class="alert alert-warning">
        暂无培训信息，请等待下一次培训。
        <a href="/institution/exam/" class="btn btn-default">返回</a>
    </div>
        return;
    }
    ExamResult examResult = ViewBag.ExamResult;
    List<CheckLog> checkLogs = ViewBag.CheckLogs;
    MemberProfile member = ViewBag.MemberProfile;
    List<ExamSubject> subjects = ViewBag.Subjects;
    List<ExamSubject> signedSubjects = ViewBag.SignedSubjects;
}
@if (checkLogs != null && checkLogs.Count > 0)
{
    <div class="alert alert-warning">
        @foreach (var checkLog in checkLogs)
        { 
            @:该会员已于“<b>@(checkLog.CreateTime.ToString())</b>”提交报名培训申请，报名科目包括“<b>@(checkLog.Data)</b>”<br />
    }
    </div>
}
@Html.Partial("_MemberProfile", member)
<legend>培训信息</legend>
<form id="exam-form" role="form" class="form-horizontal" method="post">
    <table class="table table-bordered">
        <tr>
            <th>培训名称</th>
            <td>@(exam.Name)</td>
            <th>培训地点</th>
            <td>@(exam.Address)</td>
        </tr>
        <tr>
            <th>报名时间</th>
            <td>@(exam.StartSignDate.ToShortDateString()) ~ @(exam.EndSignDate.ToShortDateString())</td>
            <th>培训时间</th>
            <td>@(exam.StartExamDate.ToShortDateString()) ~ @(exam.EndExamDate.ToShortDateString())</td>
        </tr>
        <tr>
            <th>培训科目</th>
            <td colspan="3">
                @foreach (var subject in subjects)
                {
                    var signed = signedSubjects != null && signedSubjects.Any(e => e != null && e.Name == subject.Name);
                    <div class="checkbox checkbox-inline">
                        <label><input type="checkbox" name="Subjects" value="@(subject.Name)" @(signed ? "checked=checked readonly=readonly" : null) />@(subject.Name)</label>
                    </div>
                }

            </td>
        </tr>

    </table>

    <button type="submit" class="btn btn-primary">提交报名</button>

</form>
<script>
    $(function () {
        $("#exam-form").submit(function () {
            var data = $(this).serialize();

            $.request("/institution/exam/signup?memberId=@(member.ID)&examId=@(exam.ID)", data, function (json) {
                alert("申请报名成功，等待管理员审核");
                window.location.href = "/institution/exam/";
            });
            return false;
        });

    });
</script>
