@using Loowoo.LandInst.Common
@using Loowoo.LandInst.Model
@{
    ViewBag.Title = "报名考试审批";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<VCheckExam> list = ViewBag.List;
    List<Exam> exams = ViewBag.Exams;
}


<form class="form-inline search-form">
    <div class="col-lg-8">
        <div class="input-group">
            <span class="input-group-addon">查询会员</span>
            <input type="text" class="form-control" name="name" placeholder="会员姓名" value="@(Request.QueryString["name"])">
            <div class="input-group-btn">
                <select name="examId" class="form-control">
                    <option value="0">选择考试</option>
                    @foreach (var exam in exams)
                    { 
                        <option value="@(exam.ID)" @(Html.Raw(exam.ID.ToString() == Request.QueryString["examId"] ? " selected=\"selected\"" : null))>@(exam.Name)</option>
                    }
                </select>
            </div>
            <div class="input-group-btn">
                <input type="submit" class="btn btn-primary" value="查询" />
                <input type="button" id="btn-agree" class="btn btn-success" value="批量通过" />
                <input type="button" id="btn-disagree" class="btn btn-warning" value="批量不通过" />
            </div>
        </div>
    </div>
</form>
<table class="table table-bordered">
    <tr>
        <th style="width: 30px;">
            <input id="btn-select" type="checkbox" /></th>
        <th>用户名</th>
        <th>姓名</th>
        <th>考试名称</th>
        <th style="width: 120px;">报名日期</th>
        <th style="width: 120px;">审核日期</th>
        <th style="width: 80px;">审批状态</th>
    </tr>
    @foreach (var item in list)
    { 
        <tr>
            <td>
                <input type="checkbox" name="id" value="@(item.Member.ID)" />
            </td>
            <td><a href="/admin/member/profile?id=@(item.Member.UserID)&checkLogId=@(item.Member.ID)">@(item.Member.Username)</a></td>
            <td>@(item.Member.RealName)</td>
            <td>@(item.ExamName)</td>
            <td>@(item.Member.CreateTime.ToShortDateString())</td>
            <td>@(item.Member.UpdateTime.HasValue ? item.Member.UpdateTime.Value.ToShortDateString() : "")
            </td>
            <td>
                @if (item.Member.Result.HasValue)
                {
                    if (item.Member.Result.Value)
                    { 
                    <span class="label label-success">已通过</span>
                    }
                    else
                    {
                    <span class="label label-warning">未通过</span>
                    }
                }
                else
                {
                    <span class="label label-default">尚未审批</span>
                }

            </td>
            @*            <td>
                @if (!item.Member.Result.HasValue)
                { 
                    <a href="/admin/exam/approval?id=@(item.Member.ID)&result=true" class="btn btn-xs btn-approval btn-success">通过</a>
                    <a href="/admin/exam/approval?id=@(item.Member.ID)&result=false" class="btn btn-xs btn-approval btn-warning">不通过</a>
                }
            </td>*@
        </tr>
    }
    <tr>
        <td colspan="10">@Html.Partial("_pagination", ViewBag.Page as object)</td>
    </tr>
</table>
<script>
    $(function () {
        $(".btn-approval").click(function () {
            var href = $(this).attr("href");
            $.request(href, null, function () {
                alert("操作成功");
                window.location.href = "@Html.Raw(Request.Url.AbsoluteUri)";
            });
            return false;
        });

        $("#btn-select").click(function () {
            $("input[type='checkbox']").prop('checked', this.checked);
        });

        $("#btn-agree").click(function () {
            submitApproval(true);
        });

        $("#btn-disagree").click(function () {
            submitApproval(false);
        });

        function submitApproval(result) {
            var data = getData();
            $.post("approval?result=" + result, data, function (json) {
                if (json.result) {
                    alert("操作成功");
                    window.location.href = "@Html.Raw(Request.Url.AbsoluteUri)";
                }
            }, "json");
        }

        function getData() {
            var ids = [];
            $("input[name='id']:checked").each(function () {
                var val = $(this).val();
                ids.push(val);

            });
            return { id: ids.join() };
        }
    });

</script>
