@using Loowoo.LandInst.Model
@{
    ViewBag.Title = "会员培训成绩";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ExamResult model = ViewBag.Model;
    Member member = ViewBag.Member;
    Institution inst = ViewBag.Institution;
    var scores = (string.IsNullOrEmpty(model.Scores) ? string.Empty : model.Scores).Split(',');
}
<form id="exam-form" role="form" class="form-horizontal">
    <table class="table table-bordered">
        <tr>
            <th style="width: 150px;">会员姓名</th>
            <td><a href="/admin/member/profile?id=@(member.ID)">@(member.RealName)</a></td>
            <th style="width: 150px;">出生年月</th>
            <td>@(member.Birthday.HasValue ? member.Birthday.Value.ToShortDateString() : null)</td>
        </tr>
        <tr>
            <th>专业</th>
            <td>@(member.Major)</td>
            <th>学历</th>
            <td>@(member.EduRecord)</td>
        </tr>
        <tr>
            <th>所属机构</th>
            <td>@(inst.Name)</td>
            <th>联系电话</th>
            <td>@(member.MobilePhone)</td>
        </tr>
        <tr>
            <th>培训名称</th>
            <td>@(model.Exam.Name)</td>
            <th>培训地点</th>
            <td>@(model.Exam.Address)</td>
        </tr>
        <tr>
            <th>报名</th>
            <td>@(model.Exam.StartSignDate.ToShortDateString()) ~ @(model.Exam.EndSignDate.ToShortDateString())</td>
            <th>培训时间</th>
            <td>@(model.Exam.StartExamDate.ToShortDateString()) ~ @(model.Exam.EndExamDate.ToShortDateString())</td>
        </tr>
        <tr>
            <th>申请报名时间</th>
            <td>@(model.CreateTime.ToString())</td>
            <th>报考科目</th>
            <td>@(model.Subjects)</td>
        </tr>
        <tr>
            <th>培训成绩</th>
            <td colspan="3">
                @foreach (var name in model.Subjects.Split(','))
                {
                    var score = scores.FirstOrDefault(s => s.Contains(name)) ?? string.Empty;
                    <input type="hidden" name="Scores" id="scores_@(name)" value="@(string.IsNullOrEmpty(score) ? "" : (name + ":" + score))" />
                    <div class="form-group">
                        <label class="control-label col-lg-1">@(name)</label>
                        <div class="col-lg-2">
                            <input type="text" value="@(score.Replace(name + ":", null))" id="subject_@(name)" class="form-control input-sm score" />
                        </div>
                    </div>
                }
            </td>
        </tr>
    </table>
    <div class="form-group">
        <input type="hidden" name="ID" value="@(model.ID)" />
        <input type="hidden" name="ExamID" value="@(model.ExamID)" />
        <input type="hidden" name="MemberID" value="@(model.MemberID)" />
        <label class="control-label col-lg-2"></label>
        <div class="col-lg-8">
            <input type="submit" value="提交成绩" class="btn btn-primary" />
            <a href="examResult" class="btn btn-default">返回</a>
        </div>
    </div>
</form>
<script>
    $(function () {
        $(".score").blur(function () {
            var val = $(this).val();
            var id = $(this).attr("id");
            var name = id.replace("subject_", "");
            var scoreId = "#scores_" + name;
            $(scoreId).val(name + ":" + val);
        });

        $("#exam-form").submit(function () {
            var data = $(this).serialize();
            $.request("?examId=@(model.ExamID)&memberId=@(model.MemberID)", data, function () {
                alert("设置完成");
                window.location.href = "results";
            });
            return false;
        });
    });
</script>
