@using Loowoo.LandInst.Model
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    Exam model = ViewBag.Model ?? new Exam();
    List<ExamSubject> subjects = ViewBag.Subjects;
    ViewBag.Title = model.ID > 0 ? "修改培训设置" : "添加培训";
}
<form id="exam-form" role="form" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-lg-2">培训名称</label>
        <div class="col-sm-3">
            <input type="text" name="Name" class="form-control input-sm" value="@(model.Name)" />
        </div>
        <label class="control-label col-lg-2">培训地点</label>
        <div class="col-sm-2">
            <input type="text" name="Address" class="form-control input-sm"  value="@(model.Address)" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">报名开始时间</label>
        <div class="col-sm-2">
            <input type="text" name="StartSignDate" class="form-control input-sm datepicker" value="@(model.StartSignDate == DateTime.MinValue ? "" : model.StartSignDate.ToShortDateString())" />
        </div>
        <label class="control-label col-lg-3">报名结束时间</label>
        <div class="col-sm-2">
            <input type="text" name="EndSignDate" class="form-control input-sm datepicker""  value="@(model.EndSignDate == DateTime.MinValue ? "" : model.EndSignDate.ToShortDateString())" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">培训开始时间</label>
        <div class="col-sm-3">
            <input type="text" name="StartExamDate" class="form-control input-sm datepicker""  value="@(model.StartExamDate == DateTime.MinValue ? "" : model.StartExamDate.ToShortDateString())" />
        </div>
        <label class="control-label col-lg-2">培训结束时间</label>
        <div class="col-sm-3">
            <input type="text" name="EndExamDate" class="form-control input-sm datepicker""  value="@(model.EndExamDate == DateTime.MinValue ? "" : model.EndExamDate.ToShortDateString())" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">培训科目</label>
        <div class="col-sm-8">
            @foreach (var subject in subjects)
            { 
                <div class="checkbox-inline">
                    <label><input type="checkbox" name="Subjects" value="@(subject.Name)" @((model.Subjects != null && model.Subjects.Contains(subject.Name))?"checked=checked":null) />@(subject.Name)</label>
                </div>
            }
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2">简介</label>
        <div class="col-sm-6">
            <textarea name="summary" class="form-control input-sm" rows="5" cols="50">@(model.Summary)</textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-2"></label>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary">保存</button>
            <a href="/admin/exam/" class="btn btn-default">返回</a>
        </div>
    </div>
</form>
<script>
    $(function () {
        $(".datepicker").datepicker();

        $("#exam-form").submit(function () {
            var data = $(this).serialize();
            $.post("/admin/exam/edit?id=@(model.ID)", data, function (json) {
                if (json.result) {
                    alert("保存成功");
                    window.localtion.href = "/admin/exam/";
                }
            }, "json");

            return false;
        });
    });
</script>
