@using Loowoo.LandInst.Common
@using Loowoo.LandInst.Model
@{
    ViewBag.Title = "考试成绩管理";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<VCheckExam> list = ViewBag.List;
    List<Exam> exams = ViewBag.Exams;
}

<form class="form-inline search-form">
    <div class="col-lg-8">
        <div class="input-group">
            <span class="input-group-addon">查询会员</span>
            <input type="text" class="form-control" name="name" placeholder="会员姓名" value="@(Request.QueryString["name"])">
            <div class="input-group-btn">
                <select name="examId" class="form-control">
                    <option value="0">选择考试</option>
                    @foreach (var exam in exams)
                    { 
                        <option value="@(exam.ID)" @(Html.Raw(exam.ID.ToString() == Request.QueryString["examId"] ? " selected=\"selected\"" : null))>@(exam.Name)</option>
                    }
                </select>
            </div>
            <div class="input-group-btn">
                <input type="submit" class="btn btn-primary" value="查询" />
                @*                <input type="button" id="btn-agree" class="btn btn-success" value="批量通过" />
                <input type="button" id="btn-disagree" class="btn btn-warning" value="批量不通过" />*@
            </div>
        </div>
    </div>
</form>
<table class="table table-bordered">
    <tr>
        @*        <th>
            <input id="btn-select" type="checkbox" /></th>*@
        <th style="width: 100px;">姓名</th>
        <th>考试项目</th>
        <th style="width: 150px;">报名时间</th>
        <th style="width: 150px;">手机</th>
        <th style="width: 100px;">用户状态</th>
        <th style="width: 100px;">详细</th>
    </tr>
    @foreach (var item in list)
    { 
        <tr>
            @*            <td>
                <input type="checkbox" name="id" value="@(item.Member.ID)" />
            </td>*@
            <td>@(item.Member.RealName)</td>
            <td>@(item.ExamName)</td>
            <td>@(item.Member.CreateTime.ToString())</td>
            <td>@(item.Member.MobilePhone)</td>
            <td>@(item.Member.Status.GetDescription())</td>
            <td><a href="EditResult?checkLogId=@(item.Member.ID)" class="btn btn-primary btn-xs">设置成绩</a></td>
        </tr>
    }
    <tr>
        <td colspan="6">
            @Html.Partial("_pagination", ViewBag.Page as object)
        </td>
    </tr>
</table>
@*<script>
    $(function () {
        $("#btn-select").click(function () {
            $("input[type='checkbox']").prop('checked', this.checked);
        });

        $("#btn-agree").click(function () {
            submitApproval(true);
        });

        $("#btn-disagree").click(function () {
            submitApproval(false);
        });

        function submitApproval(result) {
            var data = getData();
            $.post("/admin/exam/examresult?result=" + result, data, function (json) {
                if (json.result) {
                    alert("操作成功");
                    window.location.href = "@Html.Raw(Request.Url.AbsoluteUri)";
                }
            }, "json");
        }

        function getData() {
            var ids = [];
            $("input[name='id']:checked").each(function () {
                var val = $(this).val();
                ids.push(val);

            });
            return { id: ids.join() };
        }
    });

</script>*@
