@using Loowoo.LandInst.Model
@{
    ViewBag.Title = "考试设置";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<Exam> list = ViewBag.List;
}

<form class="form-inline search-form">
    <div class="col-lg-8">
        <a href="/admin/exam/edit" class="btn btn-primary">添加考试</a>
    </div>
</form>
<table class="table table-bordered">
    <tr>
        <th>名称</th>
        <th style="width:120px;">报名起始时间</th>
        <th style="width:120px;">报名结束时间</th>
        <th style="width:120px;">考试起始时间</th>
        <th style="width:120px;">考试结束时间</th>
        <th style="width:150px;">考试地点</th>
        <th style="width:100px;">管理</th>
    </tr>
    @foreach (var item in list)
    { 
        <tr>
            <td>@(item.Name)</td>
            <td>@(item.StartSignDate.ToShortDateString())</td>
            <td>@(item.EndSignDate.ToShortDateString())</td>
            <td>@(item.StartExamDate.ToShortDateString())</td>
            <td>@(item.EndExamDate.ToShortDateString())</td>
            <td>@(item.Address)</td>
            <td>
                <a class="btn btn-xs btn-primary" href="/admin/exam/edit?id=@(item.ID)">修改</a>
                <a class="btn btn-xs btn-warning btn-delete" href="/admin/exam/delete?id=@(item.ID)">删除</a>
            </td>
        </tr>
    }
</table>
<script>
    $(function () {
        $("a.btn-delete").click(function () {
            if (!confirm("确定要删除吗？")) return false;

            var url = $(this).attr("href");
            $.post(url, function (json) {
                window.location.href = "/admin/exam/";
            }, "json");
            return false;
        });
    });
</script>