@using Loowoo.LandInst.Model
@using Loowoo.LandInst.Common
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    List<VCheckMember> list = ViewBag.List;
    CheckType? checkType = null;
    if (!string.IsNullOrEmpty(Request.QueryString["type"]))
    {
        checkType = (CheckType)Enum.Parse(typeof(CheckType), Request.QueryString["type"], true);
    }
    ViewBag.Title = "会员" + (checkType.HasValue ? checkType.Value.GetDescription() : "") + "审核";
    var hasCheck = Request.QueryString["hasCheck"];
}

<form class="form-inline search-form">
    <div class="col-lg-8">
        <div class="input-group">
            <span class="input-group-addon">查询会员</span>
            <input type="text" class="form-control" name="name" placeholder="会员姓名" value="@(Request.QueryString["name"])">
            <div class="input-group-btn">
                <select name="type" class="form-control">
                    <option value="" @(!checkType.HasValue ? "selected=selected" : "")>审核类型</option>
                    <option value="@(CheckType.Profile)" @(checkType == CheckType.Profile ? "selected=selected" : "")>资料变更</option>
                    <option value="@(CheckType.Practice)" @(checkType == CheckType.Practice ? "selected=selected" : "")>执业登记</option>
                </select>
                <select name="hasCheck" class="form-control">
                    <option value="false" @(hasCheck == "false" ? "selected=selected" : "")>未审核</option>
                    <option value="" @(string.IsNullOrEmpty(hasCheck) ? "selected=selected" : "")>全部</option>
                    <option value="true" @(hasCheck == "true" ? "selected=selected" : "")>已审核</option>
                </select>
            </div>
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>查询</button>
            </div>
        </div>
    </div>
</form>

<table class="table table-bordered">
    <tr>
        <th style="width: 120px;">姓名</th>
        <th style="width: 60px;">性别</th>
        <th style="width: 120px;">出生年月</th>
        <th style="width: 200px;">专业</th>
        <th style="width: 200px;">学历</th>
        <th style="width: 120px;">申请日期</th>
        @if (!checkType.HasValue)
        { 
            <th style="width: 100px">审核类型</th>
        }
        <th style="width: 80px;">审核状态</th>
        <th style="width: 120px;">审核日期</th>
    </tr>
    @foreach (var item in list)
    {
        <tr>
            <td><a href="/admin/member/profile?id=@(item.UserID)&checklogId=@(item.ID)">@(item.RealName)</a></td>
            <td>@(item.Gender)</td>
            <td>@(item.Birthday.HasValue ? item.Birthday.Value.ToShortDateString() : null)</td>
            <td>@(item.Major == 0 ? "" : item.Major.ToString())</td>
            <td>@(item.EduRecord == 0 ? "" : item.EduRecord.ToString())</td>
            <td>@(item.CreateTime.ToShortDateString())</td>
            @if (!checkType.HasValue)
            {
                <td>@(item.CheckType.GetDescription())</td>
            }
            <td>
                @if (item.Result.HasValue)
                {
                    if (item.Result.Value)
                    { 
                    <span class="label label-success">已通过</span>
                    }
                    else
                    {
                    <span class="label label-warning">未通过</span>
                    }

                }
                else
                {
                    <span class="label label-default">未审核</span>
                }
            </td>
            <td>@(item.UpdateTime.HasValue ? item.UpdateTime.Value.ToShortDateString() : "- / - / -")
            </td>
        </tr>
    }<tr>
        <td colspan="10">@Html.Partial("_pagination", ViewBag.Page as object)</td>
    </tr>
</table>
