@using Loowoo.LandInst.Model
@using Loowoo.LandInst.Common
@{
    ViewBag.Title = "用户资料";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    User user = ViewBag.User;
    MemberProfile profile = ViewBag.Profile;
    List<ExamResult> examResults = ViewBag.ExamResults;
    List<Education> educations = ViewBag.Educations;
    PracticeInfo practiceInfo = ViewBag.PracticeInfo ?? new PracticeInfo();
    CheckLog checkLog = ViewBag.CheckLog;
}
<div style="position:relative;">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">基本资料</a></li>
        <li class=""><a href="#tab2" data-toggle="tab">考试成绩</a></li>
        <li class=""><a href="#tab3" data-toggle="tab">继续教育</a></li>
        <li class=""><a href="#tab4" data-toggle="tab">执业信息</a></li>
    </ul>
    <ul style="position:absolute;right:10px;top:0px;">
        <a href="export?id=@(profile.ID)" class="btn btn-primary"><i class="glyphicon glyphicon-export"></i> 导出资料</a>
        <a href="transfer?id=@(profile.ID)" class="btn btn-warning"><i class="glyphicon glyphicon-transfer"></i> 机构转移</a>

    </ul>
</div>
<div class="tab-content">
    <div class="tab-pane fade active in" id="tab1">
        <table class="table table-bordered">
            <tr>
                <th style="width: 150px;">真实姓名</th>
                <td>@(profile.RealName)</td>
                <th style="width: 150px;">用户名</th>
                <td>@(user.Username)</td>
            </tr>
            <tr>
                <th style="width: 150px;">性别</th>
                <td>@(profile.Gender)</td>
                <th style="width: 150px;">出生年月</th>
                <td>@(profile.RealName)</td>
            </tr>
            <tr>
                <th style="width: 150px;">民族</th>
                <td>@(profile.Nationality)</td>
                <th style="width: 150px;">籍贯</th>
                <td>@(profile.NativePlace)</td>
            </tr>
            <tr>
                <th style="width: 150px;">手机</th>
                <td>@(profile.MobilePhone)</td>
                <th style="width: 150px;">邮箱</th>
                <td>@(profile.Email)</td>
            </tr>
            <tr>
                <th style="width: 150px;">邮编</th>
                <td>@(profile.Postcode)</td>
                <th style="width: 150px;">通信地址</th>
                <td>@(profile.Address)</td>
            </tr>
            <tr>
                <th style="width: 150px;">毕业学校</th>
                <td>@(profile.School)</td>
                <th style="width: 150px;">专业</th>
                <td>@(profile.Major)</td>
            </tr>
            <tr>
                <th style="width: 150px;">学位</th>
                <td>@(profile.EduLevel)</td>
                <th style="width: 150px;">学历</th>
                <td>@(profile.EduRecord)</td>
            </tr>
            <tr>
                <th style="width: 150px;">职称</th>
                <td>@(profile.Title)</td>
                <th style="width: 150px;">用户状态</th>
                <td>@(profile.Status.GetDescription())</td>
            </tr>
        </table>
    </div>
    <div class="tab-pane fade" id="tab2">
        <table class="table table-bordered">
            <tr>
                <th>考试名称</th>
                <th>报名时间</th>
                <th>考试时间</th>
                <th>考试成绩</th>
            </tr>
            @foreach (var item in examResults)
            { 
                <tr>
                    <td>@(item.Exam.Name)</td>
                    <td>@(item.CreateTime.ToShortDateString())</td>
                    <td>@(item.Exam.StartExamDate.ToShortDateString()) ~ @(item.Exam.EndExamDate.ToShortDateString())</td>
                    <td>
                        @if (item.Result.HasValue)
                        {
                            if (item.Result.Value)
                            { 
                            <span class="label label-success">已通过</span>
                            }
                            else
                            {
                            <span class="label label-warning">未通过</span>
                            }
                        }
                        else
                        {
                            <span class="label label-default">未出成绩</span>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="tab-pane fade" id="tab3">
        <table class="table table-bordered">
            <tr>
                <th>继续教育名称</th>
                <th>学习时间</th>
                <th>教育机构</th>
                <th>报名时间</th>
                <th>审批状态</th>
            </tr>
            @foreach (var item in educations)
            { 
                <tr>
                    <td>@(item.Name)</td>
                    <td>@(item.StartDate.ToShortDateString()) ~ @(item.EndDate.ToShortDateString())</td>
                    <td>@(item.Agency)</td>
                    @if (item.Approval == null)
                    { 
                        <td colspan="2"><span class="label label-default">未报名</span>n</td>
                    }
                    else
                    {
                        <td>@(item.Approval.CreateTime.ToShortDateString())</td>
                        <td>
                            @if (item.Approval.Result.HasValue)
                            {

                                if (item.Approval.Result.Value)
                                { 
                                <span class="label label-success">已通过</span>
                                }
                                else
                                {
                                <span class="label label-warning">未通过</span>
                                }
                            }
                            else
                            {
                                <span class="label label-default">未出成绩</span>
                            }
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
    <div class="tab-pane fade" id="tab4">
        <table class="table table-bordered">
            <tr>
                <th style="width: 180px;">人事档案编号</th>
                <td>@(practiceInfo.PersonalRecordsNO)</td>
                <th style="width: 180px;">人事档案存放机构</th>
                <td>@(practiceInfo.PersonalRecordsInstitution)</td>
            </tr>
            <tr>
                <th>个人社会保险编号</th>
                <td>@(practiceInfo.SocialSecurityNO)</td>
                <th>个人社会保险存放机构</th>
                <td>@(practiceInfo.SocialSecurityInstitution)</td>
            </tr>
            <tr>
                <th>职业登记号</th>
                <td>@(practiceInfo.PracticeRegistrationNO)</td>
                <th>资格证书号</th>
                <td>@(practiceInfo.CertificationNO)</td>
            </tr>
            <tr>
                <th>其他资格证书</th>
                <td colspan="3" style="padding: 0px;">
                    <table class="table">
                        <tr>
                            <th>编号</th>
                            <th>名称</th>
                            <th>级别</th>
                        </tr>
                        @foreach (var cert in practiceInfo.Certifications)
                        { 
                            <tr>
                                <td>@(cert.CertificationNo)</td>
                                <td>@(cert.Name)</td>
                                <td>@(cert.CertificationLevel)</td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
@Html.Partial("_approvalForm", checkLog)