@using Loowoo.LandInst.Model
@using Loowoo.LandInst.Common
@{
    ViewBag.Title = "用户资料";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    User user = ViewBag.User;
    MemberProfile profile = ViewBag.Profile;
    List<VExamResult> examResults = ViewBag.ExamResults;
    List<Education> educations = ViewBag.Educations;
    CheckLog checkLog = ViewBag.CheckLog;
    List<CheckLog> checklogs = ViewBag.CheckLogs;
}
<div style="position: relative;">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">基本资料</a></li>
        <li class=""><a href="#tab4" data-toggle="tab">执业信息</a></li>
        <li class=""><a href="#tab2" data-toggle="tab">培训成绩</a></li>
        <li class=""><a href="#tab3" data-toggle="tab">继续教育</a></li>
        <li class=""><a href="#tab5" data-toggle="tab">审核历史</a></li>
    </ul>
    <ul style="position: absolute; right: 10px; top: 0px;">
        <a href="export?id=@(profile.ID)&checklogId=@(checkLog == null ? 0 : checkLog.ID)" class="btn btn-primary"><i class="glyphicon glyphicon-export"></i>导出资料</a>
    </ul>
</div>
<div class="tab-content">
    <div class="tab-pane fade active in" id="tab1">
        <table class="table table-bordered">
            <tr>
                <th style="width: 150px;">真实姓名</th>
                <td>@(profile.RealName)</td>
                <th style="width: 150px;">性别</th>
                <td>@(profile.Gender)</td>
            </tr>
            <tr>
                <th>出生年月</th>
                <td>@(profile.Birthday.HasValue ? profile.Birthday.Value.ToShortDateString() : null)</td>
                <th>证件号码</th>
                <td>@(profile.IDNo)</td>
            </tr>
            <tr>
                <th>专业</th>
                <td>@(profile.Major)</td>
                <th>学历</th>
                <td>@(profile.EduRecord)</td>
            </tr>
            <tr>
                <th>学位</th>
                <td>@(profile.EduLevel)</td>
                <th>毕业学校</th>
                <td>@(profile.School)</td>
            </tr>
            <tr>
                <th>民族</th>
                <td>@(profile.Nationality)</td>
                <th>籍贯</th>
                <td>@(profile.NativePlace)</td>
            </tr>
            <tr>
                <th>职级</th>
                <td>@(profile.EduLevel)</td>
                <th>政治面貌</th>
                <td>@(profile.PoliticalState)</td>
            </tr>
            <tr>
                <th>手机</th>
                <td>@(profile.MobilePhone)</td>
                <th>邮箱</th>
                <td>@(profile.Email)</td>
            </tr>
            <tr>
                <th>通信地址</th>
                <td>@(profile.Address)</td>
                <th>邮编</th>
                <td>@(profile.Postcode)</td>
            </tr>
            <tr>
                <th>证件照(正面)</th>
                <td>@if (!string.IsNullOrEmpty(profile.Photo1))
                    {
                    <a href="@(profile.Photo1)" title="点击查案大图" target="_blank">
                        <img src="@(profile.Photo1)" class="img-preview" /></a>
                    }
                    else
                    {
                    @:未上传证件照
                    }
                </td>
                <th>证件照(反面)</th>
                <td>@if (!string.IsNullOrEmpty(profile.Photo2))
                    {
                    <a href="@(profile.Photo2)" title="点击查案大图" target="_blank">
                        <img src="@(profile.Photo2)" class="img-preview" /></a>
                    }
                    else
                    {
                    @:未上传证件照
                    }
                </td>
            </tr>
        </table>
    </div>
    <div class="tab-pane fade" id="tab2">
        <table class="table table-bordered">
            <tr>
                <th>培训名称</th>
                <th>报名时间</th>
                <th>培训时间</th>
                <th>培训成绩</th>
            </tr>
            @foreach (var item in examResults)
            { 
                <tr>
                    <td>@(item.Exam.Name)</td>
                    <td>@(item.CreateTime.ToShortDateString())</td>
                    <td>@(item.Exam.StartExamDate.ToShortDateString()) ~ @(item.Exam.EndExamDate.ToShortDateString())</td>
                    <td>
                        @(string.IsNullOrEmpty(item.Scores) ? "未出成绩" : item.Scores)
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="tab-pane fade" id="tab3">
        <table class="table table-bordered">
            <tr>
                <th>继续教育名称</th>
                <th>学习时间</th>
                <th>教育机构</th>
                <th>报名时间</th>
                <th>审核状态</th>
            </tr>
            @foreach (var item in educations)
            { 
                <tr>
                    <td>@(item.Name)</td>
                    <td>@(item.StartDate.ToShortDateString()) ~ @(item.EndDate.ToShortDateString())</td>
                    <td>@(item.Agency)</td>
                    @if (item.Approval == null)
                    { 
                        <td colspan="2"><span class="label label-default">未报名</span>n</td>
                    }
                    else
                    {
                        <td>@(item.Approval.CreateTime.ToShortDateString())</td>
                        <td>
                            @if (item.Approval.Result.HasValue)
                            {

                                if (item.Approval.Result.Value)
                                { 
                                <span class="label label-success">已通过</span>
                                }
                                else
                                {
                                <span class="label label-warning">未通过</span>
                                }
                            }
                            else
                            {
                                <span class="label label-default">未出成绩</span>
                            }
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
    <div class="tab-pane fade" id="tab4">
        <table class="table table-bordered">
            <tr>
                <th style="width: 180px;">人事档案编号</th>
                <td>@(profile.PersonalRecordsNO)</td>
                <th style="width: 180px;">人事档案存放机构</th>
                <td>@(profile.PersonalRecordsInstitution)</td>
            </tr>
            <tr>
                <th>个人社会保险编号</th>
                <td>@(profile.SocialSecurityNO)</td>
                <th>个人社会保险存放机构</th>
                <td>@(profile.SocialSecurityInstitution)</td>
            </tr>
            <tr>
                <th>职业登记号</th>
                <td>@(profile.PracticeRegistrationNO)</td>
                <th>资格证书号</th>
                <td>@(profile.CertificationNO)</td>
            </tr>
            <tr>
                <th>其他资格证书</th>
                <td colspan="3" style="padding: 2px;">
                    <table class="table table-bordered">
                        <tr>
                            <th>编号</th>
                            <th>名称</th>
                            <th>获取时间</th>
                        </tr>
                        @foreach (var cert in profile.Certifications)
                        { 
                            <tr>
                                <td>@(cert.CertificationNo)</td>
                                <td>@(cert.Name)</td>
                                <td>@(cert.ObtainDate.HasValue ? cert.ObtainDate.Value.ToShortDateString() : null)</td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
            <tr>
                <th>工作简历</th>
                <td colspan="3" style="padding: 2px;">
                    <table class="table table-bordered">
                        <tr>
                            <th>工作时间</th>
                            <th>工作单位</th>
                            <th>职称</th>
                            <th>备注</th>
                        </tr>
                        @foreach (var job in profile.Jobs)
                        { 
                            <tr>
                                <td>@(job.StartDate) ~ @(job.EndDate)</td>
                                <td>@(job.Institution)</td>
                                <td>@(job.Office)</td>
                                <td>@(job.Note)</td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="tab-pane fade" id="tab5">
        <table class="table table-bordered">
            <tr>
                <th>申请类型</th>
                <th>申请日期</th>
                <th>审核时间</th>
                <th>审核结果</th>
                <th>查看</th>
            </tr>
            @foreach (var item in checklogs)
            { 
                <tr>
                    <td>@(item.CheckType.GetDescription())</td>
                    <td>@(item.CreateTime.ToString())</td>
                    <td>@(item.UpdateTime.HasValue ? item.UpdateTime.Value.ToString() : null)</td>
                    <td>
                        @if (item.Result.HasValue)
                        {
                            if (item.Result.Value)
                            { 
                            <span class="label label-success">已通过</span>
                            }
                            else
                            {
                            <span class="label label-warning">未通过</span>
                            }

                        }
                        else
                        {
                            <span class="label label-default">未审核</span>
                        }
                    </td>
                    <td>
                        @if (item.CheckType == CheckType.Practice || item.CheckType == CheckType.Profile)
                        { 
                            <a href="?id=@(item.UserID)&checkLogId=@(item.ID)" class="btn btn-xs btn-primary">历史资料</a>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
@Html.Partial("_approvalForm", checkLog)