@using Loowoo.LandInst.Model
@using Loowoo.LandInst.Common
@{
    ViewBag.Title = "_MemberProfile";
    MemberProfile profile = Model ?? new MemberProfile();
}
<legend>会员资料</legend>
<table class="table table-bordered">
    <tr>
        <th style="width: 150px;">真实姓名</th>
        <td>@(profile.RealName)</td>
        <th style="width: 150px;">用户名</th>
        <td></td>
    </tr>
    <tr>
        <th style="width: 150px;">性别</th>
        <td>@(profile.Gender)</td>
        <th style="width: 150px;">出生年月</th>
        <td>@(profile.RealName)</td>
    </tr>
    <tr>
        <th style="width: 150px;">民族</th>
        <td>@(profile.Nationality)</td>
        <th style="width: 150px;">籍贯</th>
        <td>@(profile.NativePlace)</td>
    </tr>
    <tr>
        <th style="width: 150px;">手机</th>
        <td>@(profile.MobilePhone)</td>
        <th style="width: 150px;">邮箱</th>
        <td>@(profile.Email)</td>
    </tr>
    <tr>
        <th style="width: 150px;">邮编</th>
        <td>@(profile.Postcode)</td>
        <th style="width: 150px;">通信地址</th>
        <td>@(profile.Address)</td>
    </tr>
    <tr>
        <th style="width: 150px;">毕业学校</th>
        <td>@(profile.School)</td>
        <th style="width: 150px;">专业</th>
        <td>@(profile.Major)</td>
    </tr>
    <tr>
        <th style="width: 150px;">学位</th>
        <td>@(profile.EduLevel)</td>
        <th style="width: 150px;">学历</th>
        <td>@(profile.EduRecord)</td>
    </tr>
    <tr>
        <th style="width: 150px;">职称</th>
        <td>@(profile.Title)</td>
        <th style="width: 150px;">用户状态</th>
        <td>@(profile.Status.GetDescription())</td>
    </tr>
</table>
