@using Loowoo.LandInst.Model
@using Loowoo.LandInst.Common
@{
    ViewBag.Title = "_MemberProfile";
    MemberProfile profile = Model ?? new MemberProfile();
}
<legend>会员资料</legend>
<table class="table table-bordered">
    <tr>
        <th style="width: 150px;">真实姓名</th>
        <td>@(profile.RealName)</td>
        <th style="width: 150px;">用户名</th>
        <td></td>
    </tr>
    <tr>
        <th style="width: 150px;">性别</th>
        <td>@(profile.Gender)</td>
        <th style="width: 150px;">出生年月</th>
        <td>@(profile.RealName)</td>
    </tr>
    <tr>
        <th style="width: 150px;">民族</th>
        <td>@(profile.Nationality)</td>
        <th style="width: 150px;">籍贯</th>
        <td>@(profile.NativePlace)</td>
    </tr>
    <tr>
        <th style="width: 150px;">手机</th>
        <td>@(profile.MobilePhone)</td>
        <th style="width: 150px;">邮箱</th>
        <td>@(profile.Email)</td>
    </tr>
    <tr>
        <th style="width: 150px;">邮编</th>
        <td>@(profile.Postcode)</td>
        <th style="width: 150px;">通信地址</th>
        <td>@(profile.Address)</td>
    </tr>
    <tr>
        <th style="width: 150px;">毕业学校</th>
        <td>@(profile.School)</td>
        <th style="width: 150px;">专业</th>
        <td>@(profile.Major)</td>
    </tr>
    <tr>
        <th style="width: 150px;">学位</th>
        <td>@(profile.EduLevel)</td>
        <th style="width: 150px;">学历</th>
        <td>@(profile.EduRecord)</td>
    </tr>
    <tr>
        <th style="width: 150px;">职称</th>
        <td>@(profile.Title)</td>
        <th style="width: 150px;">用户状态</th>
        <td>@(profile.Status.GetDescription())</td>
    </tr>
</table>
@*<div class="form-group">
    <label class="control-label col-lg-2">会员信息</label>
    <div class="col-sm-8">
        <div class="input-group">
            <input type="hidden" name="memberId"  value="@(member.ID)"/>
            <table class="table table-bordered">
                <tr>
                    <th>姓名</th>
                    <td><a href="/institution/member/profile?id=@(member.ID)">@(member.RealName)</a></td>
                    <th>性别</th>
                    <td>@(member.Gender)</td>
                    <th>出生年月</th>
                    <td>@(member.Birthday.HasValue ? member.Birthday.Value.ToShortDateString() : null)</td>
                </tr>
                <tr>
                    <th>身份证</th>
                    <td>@(member.IDNo)</td>
                    <th>手机</th>
                    <td>@(member.MobilePhone)</td>
                    <th>Email</th>
                    <td>@(member.Email)</td>
                </tr>
                <tr>
                    <th>毕业院校</th>
                    <td>@(member.School)</td>
                    <th>专业</th>
                    <td>@(member.Major)</td>
                    <th>学历</th>
                    <td>@(member.EduRecord)</td>
                </tr>
                <tr>
                    <th>民族</th>
                    <td>@(member.Nationality)</td>
                    <th>籍贯</th>
                    <td>@(member.NativePlace)</td>
                    <th>职称</th>
                    <td>@(member.Title)</td>
                </tr>
            </table>
        </div>
    </div>
</div>*@
