@using Loowoo.LandInst.Model
@{
    var type = Request.QueryString["type"];
    Institution inst = ViewBag.CurrentInst;
    CheckLog checkLog = ViewBag.CheckLog;
    AnnualCheck annualCheck = ViewBag.AnnualCheck;
    var isAnnualCheck = annualCheck != null && type == "annualcheck";
    bool isRegister = ViewBag.IsRegister == null ? false : ViewBag.IsRegister;
    InstitutionProfile model = ViewBag.Profile ?? new InstitutionProfile(inst);
    bool disabled = ViewBag.Disabled == null ? false : true;
    model.ShareHolders.Add(new Shareholder());
    model.Equipments.Add(new Equipment());
    model.Softwares.Add(new Software());
}
<div class="alert alert-dismissable alert-warning">
    @if (type == "annualcheck")
    {
        if (annualCheck == null)
        { 
            @:现在还不能申请年检，如果需要修改资料请申请<a href="?" class="btn btn-primary btn-xs">资料变更</a>
            return;
        }
    }
    @if (annualCheck != null)
    { 
        @:现在是<span class="label label-warning">@(annualCheck.Name)</span>期间，
        @:年检时间段： <span class="label label-warning">@(annualCheck.StartDate.ToShortDateString()) ~ @(annualCheck.EndDate.ToShortDateString())</span>，
        @:无法修改基本资料，但可修改联系方式、股东、证书信息。
    }
    else
    {
        if (inst.Status == InstitutionStatus.Normal)
        {
        @:你可以在提交注册登记前重复保存草稿，在审批之前你可以重复提交。
        }
        else
        {
        @:机构资料的提交会自动提交资料变更登记审批请求，重复提交不会重复提交请求。
        }
    }
</div>
<form id="profile-form" role="form" class="form-horizontal" method="post">
    <div style="position: relative;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#profile-basic" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;详细资料</a></li>
            <li class=""><a href="#profile-contact" data-toggle="tab"><i class="glyphicon glyphicon-phone-alt"></i>&nbsp;联系方式</a></li>
            <li class=""><a href="#profile-sharehoder" data-toggle="tab"><i class="glyphicon glyphicon-user"></i>&nbsp;股东</a></li>
            <li class=""><a href="#profile-equipment" data-toggle="tab"><i class="glyphicon glyphicon-cog"></i>&nbsp;主要技术设备</a></li>
            <li class=""><a href="#profile-software" data-toggle="tab"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;应用软件情况</a></li>
        </ul>
        @if (disabled)
        {
            <ul style="position: absolute; right: 10px; top: 0px;">
                <a href="export?id=@(inst.ID)" class="btn btn-primary"><i class="glyphicon glyphicon-export"></i>导出资料</a>
            </ul>
        }
    </div>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="profile-basic">
            <table class="table table-bordered">
                <tr>
                    <th style="width: 200px;">机构全称</th>
                    <td>
                        <input type="text" name="Name" class="form-control input-sm" value="@(model.Name)" />
                    </td>
                    <th style="width: 250px;">机构性质</th>
                    <td>
                        <input type="text" name="CompanyType" class="form-control input-sm" value="@(model.CompanyType)" />
                    </td>
                </tr>
                <tr>
                    <th>法人代表</th>
                    <td>
                        <input type="text" name="LegalPerson" class="form-control input-sm" value="@(model.LegalPerson)" />
                    </td>
                    <th>技术负责人</th>
                    <td>
                        <input type="text" name="TechLeader" class="form-control input-sm" value="@(model.TechLeader)" />
                    </td>
                    @*                    *@
                </tr>
                <tr>
                    <th>成立日期</th>
                    <td>
                        <input type="text" name="EstablishedDate" class="form-control input-sm datepicker" value="@(model.EstablishedDate.HasValue ? model.EstablishedDate.Value.ToShortDateString() : null)" />
                    </td>
                    <th>企业法人营业执照注册号或事业单位法人证书登记号</th>
                    <td>
                        <input type="text" name="LegalpersonNo" class="form-control input-sm" value="@(model.LegalpersonNo)" />
                    </td>
                </tr>
                <tr>
                    <th>工商登记号</th>
                    <td>
                        <input type="text" name="RegistrationNo" class="form-control input-sm" value="@(model.RegistrationNo)" />
                    </td>
                    <th>税务登记号</th>
                    <td>
                        <input type="text" name="TaxRegistryNo" class="form-control input-sm" value="@(model.TaxRegistryNo)" />
                    </td>
                </tr>
                <tr>
                    <th>工商登记机关</th>
                    <td>
                        <input type="text" name="RegistrationInstitution" class="form-control input-sm" value="@(model.RegistrationInstitution)" />
                    </td>
                    <th>注册资金（万元）</th>
                    <td>
                        <input type="text" name="RegisteredCapital" class="form-control input-sm" value="@(model.RegisteredCapital)" maxlength="6" />
                    </td>
                </tr>
                <tr>
                    <th>机构当年在职职工总数（人）</th>
                    <td>
                        <input type="text" name="TotalMembers" class="form-control input-sm" value="@(model.TotalMembers)" />
                    </td>
                    <th>从事土地规划工作人员总数（人）</th>
                    <td>
                        <input type="text" name="ProMembers" class="form-control input-sm" value="@(model.ProMembers)" />
                    </td>
                </tr>
                <tr>
                    <th>从事土地规划工作办公用房面积（平方）</th>
                    <td>
                        <input type="text" name="OfficeArea" class="form-control input-sm" value="@(model.OfficeArea)" />
                    </td>
                    <th>所在城市</th>
                    <td>
                        <select name="City" class="form-control input-sm">
                            @foreach (var city in Enum.GetNames(typeof(City)))
                            { 
                                <option @(city == model.City ? "selected=selected" : null)>@(city)</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>申请推荐类别</th>
                    <td colspan="3">
                        <label><input type="radio" name="CommendLevel" value="true" @(model.CommendLevel == "甲级" ? "checked=checked" : null) />甲级</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <label><input type="radio" name="CommendLevel" value="false"  @(model.CommendLevel == "乙级" ? "checked=checked" : null)/>乙级</label>
                    </td>
                </tr>

            </table>
        </div>
        <div class="tab-pane fade" id="profile-contact">
            <table class="table table-bordered" id="profile-contact">
                <tr>
                    <th style="width: 120px;">联系人</th>
                    <td>
                        <input type="text" name="ContactPerson" class="form-control input-sm" value="@(model.ContactPerson)" />
                    </td>
                     <th style="width: 120px;">联系电话</th>
                    <td>
                        <input type="text" name="Tel" class="form-control input-sm" value="@(model.Tel)" />
                    </td>
                   <th style="width: 120px;">手机</th>
                    <td>
                        <input type="text" name="MobilePhone" class="form-control input-sm" value="@(model.MobilePhone)" />
                    </td>
                    <th style="width: 120px;">传真电话</th>
                    <td>
                        <input type="text" name="Fax" class="form-control input-sm" value="@(model.Fax)" />
                    </td>
                </tr>
                <tr>
                    <th>办公地址</th>
                    <td colspan="5">
                        <input type="text" name="Address" class="form-control input-sm" value="@(model.Address)" />
                    </td>
                    <th>邮政编码</th>
                    <td>
                        <input type="text" name="Postcode" class="form-control input-sm" value="@(model.Postcode)" />
                    </td>
                </tr>
                <tr>
                    <th>通讯地址</th>
                    <td colspan="5">
                        <input type="text" name="Address1" class="form-control input-sm" value="@(model.Address1)" />
                    </td>
                    <th>邮政编码</th>
                    <td>
                        <input type="text" name="Postcode1" class="form-control input-sm" value="@(model.Postcode1)" />
                    </td>
                </tr>
                <tr>
                    <th>电子邮箱</th>
                    <td colspan="3">
                        <input type="text" name="Email" class="form-control input-sm" value="@(model.Email)" />
                    </td>
                    <th>公司网站</th>
                    <td colspan="3">
                        <input type="text" name="Website" class="form-control input-sm" value="@(model.Website)" />
                    </td>
                </tr>

            </table>
        </div>
            <div class="tab-pane fade" id="profile-sharehoder">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 140px;">姓名</th>
                            <th style="width: 80px;">性别</th>
                            <th>出生年月</th>
                            <th style="width: 90px;">股份</th>
                            <th style="width: 150px;">职务或职称</th>
                            <th style="width: 150px;">是否专业人员</th>
                            <th style="width: 70px;">
                                <button id="btn-add-sh" class="btn btn-xs btn-primary">添加</button></th>
                        </tr>
                    </thead>
                    <tbody id="list-sh">
                        @foreach (var item in model.ShareHolders)
                        { 
                            <tr>
                                <td>
                                    <input type="text" name="SH.Name"  value="@(item.Name)" class="form-control input-sm"/>
                                </td>
                                <td>
                                    <select name="SH.Gender" class="form-control input-sm">
                                        <option @(item.Gender == "男" ? "selected=selected" : null)>男</option>
                                        <option @(item.Gender == "女" ? "selected=selected" : null)>女</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" name="SH.Birthday"  value="@(item.Birthday)" class="form-control input-sm"/>
                                </td>
                                <td>
                                    <input type="text" name="SH.Shares"  value="@(item.Shares)" class="form-control input-sm"/>
                                </td>
                                <td>
                                    <input type="text" name="SH.Title"  value="@(item.Title)" class="form-control input-sm"/>
                                </td>
                                <td>
                                    <select name="SH.Professionals" class="form-control input-sm">
                                        <option></option>
                                        <option value="true" @(item.Professionals == true ? "selected=selected" : null)>是</option>
                                        <option value="false" @(item.Professionals == false ? "selected=selected" : null)>否</option>
                                    </select>
                                </td>
                                <td>
                                    <a class="btn btn-xs btn-warning btn-delete">删除</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="profile-equipment">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>名称</th>
                            <th style="width: 120px;">型号/规格</th>
                            <th style="width: 60px;">数量</th>
                            <th style="display:none;">生产厂商</th>
                            <th style="width: 150px;">主要性能</th>
                            <th>备注</th>
                            <th style="width: 70px;">
                                <button id="btn-add-equipment" class="btn btn-xs btn-primary">添加</button></th>
                        </tr>
                    </thead>
                    <tbody id="list-equipment">
                        @foreach (var item in model.Equipments)
                        { 
                            <tr>
                                <td>
                                    <input type="text" name="equipment.Name"  value="@(item.Name)" class="form-control input-sm"/>
                                </td>
                                <td>
                                    <input type="text" name="equipment.Model"  value="@(item.Model)" class="form-control input-sm"/>
                                </td>
                                <td>
                                    <input type="text" name="equipment.Number"  value="@(item.Number.HasValue && item.Number.Value > 0 ? item.Number.Value.ToString() : "")" class="form-control input-sm"/>
                                </td>
                                <td style="display:none;">
                                    <input type="text" name="equipment.Manufacturer"  value="@(item.Manufacturer)" class="form-control input-sm"/>
                                </td>
                                <td>
                                    <input type="text" name="equipment.Performance"  value="@(item.Performance)" class="form-control input-sm"/>
                                </td>
                                <td>
                                    <input type="text" name="equipment.Note"  value="@(item.Note)" class="form-control input-sm"/>
                                </td>
                                <td>
                                    <a class="btn btn-xs btn-warning btn-delete">删除</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="profile-software">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>软件名称</th>
                            <th style="width: 60px;">数量</th>
                            <th style="width: 120px;">来源</th>
                            <th style="width: 200px;">用途</th>
                                         <th>备注</th>
               <th style="width: 70px;">
                                <button id="btn-add-software" class="btn btn-xs btn-primary">添加</button></th>
                        </tr>
                    </thead>
                    <tbody id="list-software">
                        @foreach (var item in model.Softwares)
                        { 
                            <tr>
                                <td>
                                    <input type="text" name="software.Name"  value="@(item.Name)" class="form-control input-sm"/>
                                </td>
                                <td>
                                    <input type="text" name="software.Number"  value="@(item.Number.HasValue && item.Number.Value > 0 ? item.Number.Value.ToString() : "")" class="form-control input-sm"/>
                                </td>
                                <td>
                                    <input type="text" name="software.Source"  value="@(item.Source)" class="form-control input-sm"/>
                                </td>
                                <td>
                                    <input type="text" name="software.Purpose"  value="@(item.Purpose)" class="form-control input-sm"/>
                                </td>
                                 <td>
                                    <input type="text" name="equipment.Note"  value="@(item.Note)" class="form-control input-sm"/>
                                </td>
                               <td>
                                    <a class="btn btn-xs btn-warning btn-delete">删除</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
    </div>

    @if (!disabled)
    {
        <div style="clear: both; margin: 20px;" id="btn-group">
            <input id="isSubmit" type="hidden" name="isSubmit" />
            <button id="btn-draft" type="button" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-saved"></i>保存为草稿</button>
            <button id="btn-submit" type="button" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i>@(isAnnualCheck ? "提交年检申请" : (isRegister ? "提交注册登记" : "提交资料变更"))</button>
        </div>
    }
</form>
<script>
    $(function () {
        $(".datepicker").datepicker();
        $("#City").val("@(model.City)");
        var form = $("#profile-form");

        @if (disabled)
        {
            //如果是查看历史资料，则为锁定状态
        <text>

        $("input,select", form).each(function () {
            $(this).attr("disabled", "disabled");
        });


        </text>
        }
        else
        {
        <text>


        $("#btn-draft").click(function () {
            $("#isSubmit").val("false");
            form.submit();
        });
        $("#btn-submit").click(function () {
            $("#isSubmit").val("true");
            form.submit();
        });

        form.submit(function () {
            var data = $(this).serialize()
            var isSubmit = $("#isSubmit").val() === "true";
            $.request("/institution/profile/submit?isSubmit=" + isSubmit, data, function (json) {
                alert(isSubmit ? "提交成功" : "保存草稿成功");
                window.location.href = "@Html.Raw(Request.Url.AbsoluteUri)";
            });
            return false;
        });


        </text>
        }

        //如果是年审，则disabled基本资料
        @if (isAnnualCheck)
        {
         <text>

        $("#profile-basic input,#profile-basic select").each(function () {
            $(this).attr("disabled", "disabled");
        });

        </text>
        }

        setList("list-sh", "btn-add-sh");
        setList("list-software", "btn-add-software");
        setList("list-equipment", "btn-add-equipment");

        function setList(listId, btnAddId) {
            var list = $("#" + listId);
            var template = "<tr>" + $("tr", list).last().html() + "</tr>";
            $("tr", list).last().remove();
            $("#" + btnAddId).bind("click", function () {
                list.append(template);
                setBtnDelete();
                return false;
            });

            setBtnDelete();

            function setBtnDelete() {
                $(".btn-delete").unbind("click").bind("click", function () {
                    var tr = $(this).parent().parent();
                    tr.remove();
                });
            }
        }
    });

</script>
