@using Loowoo.LandInst.Common
@using Loowoo.LandInst.Model
@{
    var action = (ViewBag.Controller + "." + ViewBag.Action).ToLower();
    var isViewPage = action == "profile.index";
    var isEditPage = action == "profile.edit";
    var isAnnualPage = action == "profile.annualcheck";
    var isRegisterPage = action == "home.index";

    CheckLog checkLog = ViewBag.CheckLog;
    InstitutionProfile profile = ViewBag.Profile;
    if (!isViewPage)
    {
        profile.ShareHolders.Add(new Shareholder());
        profile.Equipments.Add(new Equipment());
        profile.Files.Add(new UploadFile());
        profile.Members.Add(new Member());
    }
}

@if (checkLog != null)
{ 
    <div class="alert alert-@(checkLog.Result.HasValue ? (checkLog.Result.Value ? "success" : "danger") : "warning")">
        贵机构已于“@(checkLog.CreateTime.ToString())”申请了“<b>@(checkLog.CheckType.GetDescription())</b>”，
        @if (checkLog.Result.HasValue)
        { 
            @:并且于“@(checkLog.UpdateTime.Value.ToString())”@Html.Raw(checkLog.Result.Value ? "“<b>通过审核</b>”" : "“<b>未通过审核</b>” ，审核意见：" + checkLog.Note)。
        }
        else
        {
            @:请耐心等待管理员审核。
        }
    </div>
}

<form id="profile-form" role="form" class="form-horizontal" method="post">
    <div style="position: relative;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#profile-basic" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;详细资料</a></li>
            <li class=""><a href="#profile-contact" data-toggle="tab"><i class="glyphicon glyphicon-phone-alt"></i>&nbsp;联系方式</a></li>
            <li class=""><a href="#profile-sharehoder" data-toggle="tab"><i class="glyphicon glyphicon-star"></i>&nbsp;股东</a></li>
            <li class=""><a href="#profile-equipment" data-toggle="tab"><i class="glyphicon glyphicon-cog"></i>&nbsp;仪器设备</a></li>
            <li class=""><a href="#profile-member" data-toggle="tab"><i class="glyphicon glyphicon-user"></i>&nbsp;机构成员</a></li>
            <li class=""><a href="#profile-files" data-toggle="tab"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;证件扫描件</a></li>
        </ul>
        @if (isViewPage)
        {
            <ul style="position: absolute; right: 10px; top: 0px;">
                <a href="export?id=@(profile.ID)" class="btn btn-primary"><i class="glyphicon glyphicon-export"></i>导出资料</a>
            </ul>
        }
    </div>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="profile-basic">
            <table class="table table-bordered">
                <tr>
                    <th style="width: 120px;">机构全称</th>
                    <td colspan="3">
                        <input type="text" name="Name" class="form-control input-sm" value="@(profile.Name)" />
                    </td>
                    <th>所在城市</th>
                    <td>
                        <select name="City" class="form-control input-sm">
                            @foreach (var city in Enum.GetNames(typeof(City)))
                            { 
                                <option @(city == profile.City ? "selected=selected" : null)>@(city)</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>法人代表</th>
                    <td>
                        <input type="text" name="LegalPerson" class="form-control input-sm" value="@(profile.LegalPerson)" />
                    </td>
                    <th>法人代码</th>
                    <td>
                        <input type="text" name="LegalpersonNo" class="form-control input-sm" value="@(profile.LegalpersonNo)" />
                    </td>
                    <th>机构性质</th>
                    <td>
                        <input type="text" name="CompanyType" class="form-control input-sm" value="@(profile.CompanyType)" />
                    </td>
                </tr>
                <tr>
                    <th>工商登记号</th>
                    <td>
                        <input type="text" name="RegistrationNo" class="form-control input-sm" value="@(profile.RegistrationNo)" />
                    </td>
                    <th>税务登记号</th>
                    <td style="width: 200px;">
                        <input type="text" name="TaxRegistryNo" class="form-control input-sm" value="@(profile.TaxRegistryNo)" />
                    </td>
                    <th style="width: 180px;">注册资金（万元）</th>
                    <td>
                        <input type="text" name="RegisteredCapital" class="form-control input-sm" value="@(profile.RegisteredCapital)" maxlength="6" />
                    </td>
                </tr>
                <tr>
                    <th>成立日期</th>
                    <td>
                        <input type="text" name="EstablishedDate" class="form-control input-sm datepicker" value="@(profile.EstablishedDate.HasValue ? profile.EstablishedDate.Value.ToShortDateString() : null)" />
                    </td>
                    <th>营业期限</th>
                    <td>
                        <input type="text" name="OperatingPeriod" class="form-control input-sm" value="@(profile.OperatingPeriod)" />
                    </td>
                    <th>工商登记机关</th>
                    <td>
                        <input type="text" name="RegistrationInstitution" class="form-control input-sm" value="@(profile.RegistrationInstitution)" />
                    </td>
                </tr>
                <tr>
                    <th>机构总人数</th>
                    <td>
                        <input type="text" name="TotalMembers" class="form-control input-sm" value="@(profile.TotalMembers)" />
                    </td>
                    <th>其中专业人员数</th>
                    <td>
                        <input type="text" name="ProMembers" class="form-control input-sm" value="@(profile.ProMembers)" />
                    </td>
                    <th>中级及以上专业人员数</th>
                    <td>
                        <input type="text" name="ExpertMembers" class="form-control input-sm" value="@(profile.ExpertMembers)" />
                    </td>
                </tr>
                <tr>
                    <th>执业注册号</th>
                    <td>
                        <input type="text" name="PracticeRegistrationNo" class="form-control input-sm" value="@(profile.PracticeRegistrationNo)" />
                    </td>
                    <th>团体会员证号</th>
                    <td>
                        <input type="text" name="CorporateMemberNo" class="form-control input-sm" value="@(profile.CorporateMemberNo)" />
                    </td>
                    <th>是否有测绘许可证书</th>
                    <td>
                        <label><input type="radio" name="HasExequatur" value="true" @(profile.HasExequatur ? "checked=checked" : null) />是</label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <label><input type="radio" name="HasExequatur" value="false"  @(!profile.HasExequatur ? "checked=checked" : null)/>否</label>
                    </td>
                </tr>
                <tr>
                    <th>经营范围</th>
                    <td colspan="3">
                        <input type="text" name="BusinessScope" class="form-control input-sm" value="@(profile.BusinessScope)" />
                        @*                <select name="BusinessScope" class="form-control input-sm">
                    <option @(profile.BusinessScope == "全国范围" ? "select=select" : null)>全国范围</option>
                    <option @(profile.BusinessScope == "省范围" ? "select=select" : null)>省范围</option>
                    <option @(profile.BusinessScope == "市范围" ? "select=select" : null)>市范围</option>
                </select>*@
                    </td>
                    <th>证书级别</th>
                    <td>
                        <input type="text" name="ExequaturLevel" class="form-control input-sm" value="@(profile.ExequaturLevel)" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="tab-pane fade" id="profile-contact">
            <table class="table table-bordered">
                <tr>
                    <th style="width: 120px;">手机</th>
                    <td>
                        <input type="text" name="MobilePhone" class="form-control input-sm" value="@(profile.MobilePhone)" />
                    </td>
                    <th style="width: 120px;">传真电话</th>
                    <td>
                        <input type="text" name="Fax" class="form-control input-sm" value="@(profile.Fax)" />
                    </td>
                    <th>联系电话</th>
                    <td>
                        <input type="text" name="Tel" class="form-control input-sm" value="@(profile.Tel)" />
                    </td>
                </tr>
                <tr>
                    <th>公司地址</th>
                    <td colspan="3">
                        <input type="text" name="Address" class="form-control input-sm" value="@(profile.Address)" />
                    </td>
                    <th>邮政编码</th>
                    <td>
                        <input type="text" name="Postcode" class="form-control input-sm" value="@(profile.Postcode)" />
                    </td>
                </tr>
                <tr>
                    <th>联系地址</th>
                    <td colspan="3">
                        <input type="text" name="Address1" class="form-control input-sm" value="@(profile.Address1)" />
                    </td>
                    <th>邮政编码</th>
                    <td>
                        <input type="text" name="Postcode1" class="form-control input-sm" value="@(profile.Postcode1)" />
                    </td>
                </tr>
                <tr>
                    <th>电子邮箱</th>
                    <td colspan="5">
                        <input type="text" name="Email" class="form-control input-sm" value="@(profile.Email)" />
                    </td>
                </tr>
                <tr>
                    <th>公司网站</th>
                    <td colspan="5">
                        <input type="text" name="Website" class="form-control input-sm" value="@(profile.Website)" />
                    </td>
                </tr>

            </table>
        </div>
        <div class="tab-pane fade" id="profile-sharehoder">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 150px;">姓名</th>
                        <th style="width: 100px;">性别</th>
                        <th style="width: 150px;">出生年月</th>
                        <th style="width: 90px;">股份</th>
                        <th style="width: 150px;">职务或职称</th>
                        <th style="width: 150px;">是否专业人员</th>
                        <th style="width: 70px;">
                            <button id="btn-add-sh" class="btn btn-xs btn-primary">添加</button></th>
                    </tr>
                </thead>
                <tbody id="list-sh">
                    @foreach (var item in profile.ShareHolders)
                    { 
                        <tr>
                            <td>
                                <input type="text" name="SH.Name"  value="@(item.Name)" class="form-control input-sm"/>
                            </td>
                            <td>
                                <select name="SH.Gender" class="form-control input-sm">
                                    <option @(item.Gender == "男" ? "selected=selected" : null)>男</option>
                                    <option @(item.Gender == "女" ? "selected=selected" : null)>女</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" name="SH.Birthday"  value="@(item.Birthday)" class="form-control input-sm"/>
                            </td>
                            <td>
                                <input type="text" name="SH.Shares"  value="@(item.Shares)" class="form-control input-sm"/>
                            </td>
                            <td>
                                <input type="text" name="SH.Title"  value="@(item.Title)" class="form-control input-sm"/>
                            </td>
                            <td>
                                <select name="SH.Professionals" class="form-control input-sm">
                                    <option></option>
                                    <option value="true" @(item.Professionals == true ? "selected=selected" : null)>是</option>
                                    <option value="false" @(item.Professionals == false ? "selected=selected" : null)>否</option>
                                </select>
                            </td>
                            <td>
                                <a class="btn btn-xs btn-warning btn-delete">删除</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="profile-equipment">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>仪器设备名称</th>
                        <th style="width: 60px;">数量</th>
                        <th style="width: 120px;">型号/规格</th>
                        <th style="width: 200px;">生产厂商</th>
                        <th style="width: 70px;">
                            <button id="btn-add-equipment" class="btn btn-xs btn-primary">添加</button></th>
                    </tr>
                </thead>
                <tbody id="list-equipment">
                    @foreach (var item in profile.Equipments)
                    { 
                        <tr>
                            <td>
                                <input type="text" name="equipment.Name"  value="@(item.Name)" class="form-control input-sm"/>
                            </td>
                            <td>
                                <input type="text" name="equipment.Number"  value="@(item.Number.HasValue && item.Number.Value > 0 ? item.Number.Value.ToString() : "")" class="form-control input-sm"/>
                            </td>
                            <td>
                                <input type="text" name="equipment.Model"  value="@(item.Model)" class="form-control input-sm"/>
                            </td>
                            <td>
                                <input type="text" name="equipment.Manufacturer"  value="@(item.Manufacturer)" class="form-control input-sm"/>
                            </td>
                            <td>
                                <a class="btn btn-xs btn-warning btn-delete">删除</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="profile-member">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 100px;">姓名</th>
                        <th style="width: 70px;">性别</th>
                        <th style="width: 120px;">出生年月</th>
                        <th style="width: 180px;">身份证号</th>
                        <th style="width: 180px;">执业证书号</th>
                        <th style="width: 120px;">手机号</th>
                        <th style="width: 70px;">
                            <button id="btn-add-member" class="btn btn-xs btn-primary">添加</button></th>
                    </tr>
                </thead>
                <tbody id="list-member">
                    @foreach (var item in profile.Members)
                    { 
                        <tr>
                            <td>
                                <input type="text" name="member.RealName"  value="@(item.RealName)" class="form-control input-sm"/>
                            </td>
                            <td>
                                <select name="member.Gender" class="form-control input-sm">
                                    <option @(item.Gender == "男" ? "selected=selected" : null)>男</option>
                                    <option @(item.Gender == "女" ? "selected=selected" : null)>女</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" name="member.Birthday"  value="@(item.Birthday)" class="form-control input-sm datepicker"/>
                            </td>
                            <td><input type="text" name="member.IDno" value="@(item.IDNo)" class="form-control input-sm" /></td>
@*                            <td>
                                <input type="text" name="member.CertificationNo"  value="@(item.CertificationNo)" class="form-control input-sm"/>
                            </td>*@
                            <td>
                                <input type="text" name="member.PracticeNo"  value="@(item.PracticeNo)" class="form-control input-sm"/>
                            </td>
                            <td>
                                <input type="text" name="member.MobilePhone"  value="@(item.MobilePhone)" class="form-control input-sm"/>
                            </td>
                            <td>
                                <a class="btn btn-xs btn-warning btn-delete">删除</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="profile-files">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 200px;">证件名称</th>
                        <th>描述</th>
                        <th style="width: 200px;">文件预览</th>
                        @if (!isViewPage)
                        {
                            <th style="width: 170px;"><a id="btn-add-file" class="btn btn-xs btn-primary">添加</a></th>
                        }
                    </tr>
                </thead>
                <tbody id="list-files">
                    @foreach (var file in profile.Files)
                    {
                        <tr>
                            <td>
                                <input type="text" name="file.FileName" class="form-control input-sm" value="@(file.FileName)" />
                                <input type="hidden" name="file.SavePath" value="@(file.SavePath)" />
                            </td>
                            <td>
                                <input name="file.Description" class="form-control input-sm" value="@(file.Description)" /></td>
                            <td class="img-preview">
                                @if (!string.IsNullOrEmpty(file.SavePath))
                                { 
                                    <a href="@(file.SavePath)" title="点击查案大图" target="_blank">
                                        <img src="@(file.SavePath)" class="img-preview"></a>
                                }
                            </td>
                            @if (!isViewPage)
                            {
                                <td>
                                    <div class="control-upload">
                                        <input type="file" class="form-control input-sm control-file" name="files" />
                                        <div class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-upload"></i>&nbsp;上传文件</div>
                                        <a href="#" class="btn btn-sm btn-warning btn-delete">删除</a>
                                    </div>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @if (!isViewPage)
    {
        <div style="clear: both; margin: 20px;" id="btn-group">
            <input id="profile-submit-type" type="hidden" name="type" />
            <button id="btn-submit-draft" type="button" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;保存资料</button>
            @if (isAnnualPage)
            { 
                <button id="btn-submit-annual" type="button" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i>&nbsp;提交年检申请</button>
            }
            else
            {
                <button id="btn-submit-profile" type="button" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i>&nbsp;@(isRegisterPage ? "提交注册登记" : "提交资料变更")</button>
            }
        </div>
    }
</form>
@if (!isViewPage)
{
    <script>
        $(function () {
            $(".datepicker").datepicker();


            var form = $("#profile-form");

            var controlSubmitType = $("#profile-submit-type");

            $("#btn-submit-draft").click(function () {
                controlSubmitType.val("");
                submitFormBySave();
                form.submit();
                return false;
            });

            $("#btn-submit-annual").click(function () {
                controlSubmitType.val("annual");
                submitFormBySave();
                form.submit();
                return false;
            });

            $("#btn-submit-profile").click(function () {
                controlSubmitType.val("profile");
                submitFormBySave();
                form.submit();
                return false;
            });

            function submitFormByUpload() {
                form.unbind("submit").bind("submit", function () { });
            }

            function submitFormBySave() {
                form.removeAttr("target");
                form.removeAttr("enctype");
                form.unbind("submit").bind("submit", function () {

                    var type = controlSubmitType.val();
                    var data = $(this).serialize();
                    $.request("/institution/profile/submit?id=@(profile.ID)&type=" + type, data, function () {
                        alert((type ? "提交" : "保存") + "成功");
                        window.location.href = "@(Request.Url.AbsoluteUri)";
                    });
                    return false;
                });
            }



            setList("list-sh", "btn-add-sh");
            setList("list-member", "btn-add-member");
            setList("list-equipment", "btn-add-equipment");
            setList("list-files", "btn-add-file", function () {
                var tr = $("#list-files tr:last");
                setUpload(tr);
            });

            $("#list-files tr").each(function () {
                var tr = $(this);
                setUpload(tr);
            });

            function setUpload(tr) {
                var valueControl = $("input[type='hidden']", tr);
                var file = $("input[type='file']", tr);
                var preview = $(".img-preview", tr);
                file.setUpload("/institution/file/upload", function (json) {
                    if (json.result) {
                        valueControl.val(json.data);
                        preview.html('<a href="' + json.data + '" title="点击查案大图" target="_blank"><img src="' + json.data + '" class="img-preview" /></a>');
                    }
                    else {
                        alert(json.message);
                    }
                });
            }

            function setList(listId, btnAddId, customFunc) {
                var list = $("#" + listId);
                var template = "<tr>" + $("tr", list).last().html() + "</tr>";
                $("tr", list).last().remove();
                $("#" + btnAddId).bind("click", function () {
                    list.append(template);
                    setBtnDelete();
                    if (customFunc) {
                        customFunc();
                    }
                    return false;
                });

                setBtnDelete();

                function setBtnDelete() {
                    $(".btn-delete").unbind("click").bind("click", function () {
                        var tr = $(this).parents("tr");
                        tr.remove();
                    });
                }
            }
        });

    </script>

}