@using Loowoo.LandInst.Model
@{
    Institution inst = ViewBag.CurrentInst;
    CheckLog checkLog = ViewBag.CheckLog;
    CheckLog annualCheckLog = ViewBag.AnnualCheckLog;
    var canSubmit = annualCheckLog == null || annualCheckLog.Result.HasValue;
    InstitutionProfile model = ViewBag.Profile ?? new InstitutionProfile(inst);
}
<div class="alert alert-dismissable alert-warning">
    1、机构资料的提交会自动提交资料变更登记审批请求，重复提交不会重复提交请求。<br />
    2、年度审批期间（提交年检申请后）无法修改基本资料，但可修改股东、证书信息。
</div>
<form id="profile-form" role="form" class="form-horizontal" method="post">
    <fieldset style="width: 300px; float: left; overflow: hidden; margin: 10px;">
        <legend>基本资料</legend>

        <label class="control-label">名称</label>
        <input type="text" name="Name" class="form-control input-sm" value="@(model.Name)") />

        <label class="control-label">全称</label>
        <input type="text" name="FullName" class="form-control input-sm" value="@(model.FullName)" />

        <label class="control-label">工商注册号</label>
        <input type="text" name="RegistrationNo" class="form-control input-sm" value="@(model.RegistrationNo)" />

        <label class="control-label">法人代表</label>
        <input type="text" name="LegalRepresentative" class="form-control input-sm" value="@(model.LegalRepresentative)" />
    </fieldset>

    <fieldset style="width: 300px; float: left; overflow: hidden; margin: 10px;">
        <legend>详细资料</legend>
        <label class="control-label">经营范围</label>
        <input type="text" name="BusinessScope" class="form-control input-sm" value="@(model.BusinessScope)" />

        <label class="control-label">注册证书号</label>
        <input type="text" name="CertificateNo" class="form-control input-sm" value="@(model.CertificateNo)" />


        <label class="control-label">注册资金</label>
        <input type="text" name="RegisteredCapital" class="form-control input-sm" value="@(model.RegisteredCapital)" />

        <label class="control-label">移动电话</label>
        <input type="text" name="MobilePhone" class="form-control input-sm" value="@(model.MobilePhone)" />

        <label class="control-label">税利总收</label>
        <input type="text" name="TotalProfits" class="form-control input-sm" value="@(model.TotalProfits)" />

    </fieldset>

    <fieldset style="width: 300px; float: left; overflow: hidden; margin: 10px;">
        <legend>联系方式</legend>

        <label class="control-label">公司地址</label>
        <input type="text" name="Address" class="form-control input-sm" value="@(model.Address)" />

        <label class="control-label">所在城市</label>
        <input type="text" name="City" class="form-control input-sm" value="@(model.City)" />

        <label class="control-label">电子邮箱</label>
        <input type="text" name="Email" class="form-control input-sm" value="@(model.Email)" />

        <label class="control-label">邮政编码</label>
        <input type="text" name="Postcode" class="form-control input-sm" value="@(model.Postcode)" />

    </fieldset>
    <div style="clear: both" id="btn-group">
        <input type="submit" value="提交资料变更申请" class="btn btn-warning" />
    </div>
</form>
<script>
    $(function () {
    @if (canSubmit)
    {
        <text>
        $("#profile-form").submit(function () {
            var data = $(this).serialize();
            $.request("/institution/profile/submit?type=" + data.type, data, function (json) {
                window.location.href = "@Html.Raw(Request.Url.AbsoluteUri)";
            });

        });</text>
    }
    else
    {
        <text>
        $("#btn-group").hide();
        $("#profile-form input").each(function(){
            $(this).attr("disabled", "disabled");
        });
        </text>
    }
    });

</script>
