@using Loowoo.LandInst.Model
@using Loowoo.LandInst.Common
@{
    ViewBag.Title = "机构详细信息";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    InstitutionProfile profile = ViewBag.Profile;
    List<Shareholder> shareHolders = ViewBag.ShareHolders;
    List<Certification> certifications = ViewBag.Certifications;
    //Approval approval = ViewBag.Approval;
    List<Approval> approvals = ViewBag.Approvals;
}
@*@if (approval != null)
{ 
    <div class="alert alert-dismissable alert-warning">
        该机构于@(approval.CreateTime.ToShortDateString())申请了 
        <span class="label label-default">@(approval.ApprovalType.GetDescription())</span>
        @if (approval.Result.HasValue)
        {
            <span>并且与@(approval.ApprovalTime.Value.ToShortDateString())</span>
            if (approval.Result.Value)
            {
            <span class="label label-success">通过审核</span>
            }
            else
            {
            <span class="label label-warning">未通过审核</span>
            }
        }
        else
        {
            <input id="btn-agree" type="button" value="通过审批" class="btn btn-sm btn-success" />
            <input id="btn-disagree" type="button" value="不通过" class="btn btn-sm btn-warning" />
        }
    </div>
}*@
<div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">基本资料</a></li>
        <li class=""><a href="#tab2" data-toggle="tab">股东</a></li>
        <li class=""><a href="#tab3" data-toggle="tab">资质证书</a></li>
    </ul>
</div>
<div class="tab-content">
    <div class="tab-pane fade active in" id="tab1">
        <table class="table table-bordered">
            <tr>
                <th style="width: 150px;">机构名称</th>
                <td>@(profile.Name)</td>
                <th style="width: 150px;">企业类型</th>
                <td>@(profile.Type.ToString())</td>
            </tr>
            <tr>
                <th>法定代表人</th>
                <td>@(profile.LegalRepresentative)</td>
                <th>工商登记机关</th>
                <td></td>
            </tr>
            <tr>
                <th>工商登记号</th>
                <td></td>
                <th>税务登记号</th>
                <td></td>
            </tr>
            <tr>
                <th>注册资金</th>
                <td>@(profile.RegisteredCapital)</td>
                <th>成立时间</th>
                <td></td>
            </tr>
            <tr>
                <th>营业期限</th>
                <td>@(profile.OperatingPeriod)</td>
                <th>企业网址</th>
                <td>@(profile.Website)</td>
            </tr>
            <tr>
                <th>移动电话</th>
                <td>@(profile.MobilePhone)</td>
                <th>企业邮箱</th>
                <td>@(profile.Email)</td>
            </tr>
            <tr>
                <th>机构所属市</th>
                <td>@(profile.City)</td>
                <th>注册证书号</th>
                <td>@(profile.CertificateNo)</td>
            </tr>
            <tr>
                <th>经营范围</th>
                <td>@(profile.BusinessScope)</td>
                <th>利税总额（万元）</th>
                <td>@(profile.TotalProfits)</td>
            </tr>
            <tr>
                <th>邮编</th>
                <td>@(profile.Postcode)</td>
                <th>地址</th>
                <td>@(profile.BusinessScope)</td>
            </tr>
        </table>
    </div>
    <div class="tab-pane fade" id="tab2">
        <table class="table table-bordered">
            <tr>
                <th>姓名</th>
                <th>性别</th>
                <th>生日</th>
                <th>股份</th>
                <th>手机</th>
            </tr>
            @foreach (var sh in shareHolders)
            { 
                <tr>
                    <td>@(sh.Name)</td>
                    <td>@(sh.Gender)</td>
                    <td>@(sh.Birthday)</td>
                    <td>@(sh.Shares)</td>
                    <td>@(sh.Mobile)</td>
                </tr>
            }
        </table>
    </div>
    <div class="tab-pane fade" id="tab3">
        <table class="table table-bordered">
            <tr>
                <th>名称</th>
                <th>级别</th>
                <th>编号</th>
            </tr>
            @foreach (var cert in certifications)
            { 
                <tr>
                    <td>@(cert.Name)</td>
                    <td>@(cert.CertificationLevel)</td>
                    <td>@(cert.CertificationNo)</td>
                </tr>
            }
        </table>
    </div>
</div>

<fieldset>
    <legend>审批记录</legend>
    <table class="table table-bordered">
        <tr>
            <th>审批类型</th>
            <th>申请时间</th>
            <th>审批时间</th>
            <th>审批结果</th>
        </tr>
        @foreach (var approval in approvals)
        { 
            <tr>
                <td>@(approval.ApprovalType.GetDescription())</td>
                <td>@(approval.CreateTime.ToShortDateString())</td>
                <td>@(approval.ApprovalTime.HasValue ? approval.ApprovalTime.Value.ToShortDateString() : "-")</td>
                <td>
                    @if (approval.Result.HasValue)
                    {
                        if (approval.Result.Value)
                        { 
                        <span class="label label-success">审批通过</span>
                        }
                        else
                        {
                        <span class="label label-warning">审批不通过</span>
                        }
                    }
                    else
                    {
                        <a href="/admin/institution/approval?id=@(approval.ID)&result=true" class="btn btn-xs btn-success btn-approval">通过</a>
                        <a href="/admin/institution/approval?id=@(approval.ID)&result=false" class="btn btn-xs btn-warning btn-approval">不通过</a>
                    }
                </td>
            </tr>
        }
    </table>
</fieldset>
<script>
    $(function () {
        $(".btn-approval").click(function () {
            var text = $(this).html();
            if (confirm("确认" + text + "审批")) {
                var href = $(this).attr("href");
                $.request(href, null, function (json) { })
                {
                    alert("操作成功");
                    window.location.href = windown.location.href;
                }
            }
        });

    });
</script>
