@using Loowoo.LandInst.Model
@using Loowoo.LandInst.Common
@{
    ViewBag.Title = "机构详细信息";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    InstitutionProfile profile = ViewBag.Profile;
    List<CheckLog> checkLogs = ViewBag.CheckLogs;
    CheckLog approval = ViewBag.CheckLog;
    List<Member> members = ViewBag.Members;
}
<div style="position: relative;">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">基本资料</a></li>
        <li class=""><a href="#tab2" data-toggle="tab">股东</a></li>
        <li class=""><a href="#tab5" data-toggle="tab">机构成员</a></li>
        <li class=""><a href="#tab3" data-toggle="tab">仪器设备</a></li>
        <li class=""><a href="#tab4" data-toggle="tab">审批记录</a></li>
    </ul>
    <ul style="position: absolute; right: 10px; top: 0px;">
@*        <a href="export?id=@(profile.ID)" class="btn btn-primary"><i class="glyphicon glyphicon-export"></i>导出资料</a>*@
    </ul>
</div>
<div class="tab-content">
    <div class="tab-pane fade active in" id="tab1">
        <table class="table table-bordered" id="profile-basic">
            <tr>
                <th style="width: 100px;">机构简称</th>
                <td colspan="3">
                    @(profile.Name)
                </td>
                <th style="width: 150px;">所在城市</th>
                <td>
                    @(profile.City)
                </td>
            </tr>
            <tr>
                <th>法人代表</th>
                <td>
                    @(profile.LegalPerson)
                </td>
                <th>法人代码</th>
                <td>
                    @(profile.LegalpersonNo)
                </td>
                <th style="width: 170px;">企业</th>
                <td>@(profile.CompanyType)</td>
            </tr>
            <tr>
                <th>工商登记号</th>
                <td>
                    @(profile.RegistrationNo)
                </td>
                <th>税务登记号</th>
                <td>
                    @(profile.TaxRegistryNo)
                </td>
                <th>注册资金（万元）</th>
                <td>
                    @(profile.RegisteredCapital)
                </td>
            </tr>
            <tr>
                <th>成立日期</th>
                <td>
                    @(profile.EstablishedDate.HasValue ? profile.EstablishedDate.Value.ToShortDateString() : null)
                </td>
                <th>营业期限</th>
                <td>
                    @(profile.OperatingPeriod)
                </td>
                <th>工商登记机关</th>
                <td>
                    @(profile.RegistrationInstitution)
                </td>
            </tr>
            <tr>
                <th>机构总人数</th>
                <td>
                    @(profile.TotalMembers)
                </td>
                <th>其中专业人员数</th>
                <td>
                    @(profile.ProMembers)
                </td>
                <th>中级及以上专业人员数</th>
                <td>
                    @(profile.ExpertMembers)
                </td>
            </tr>
            <tr>
                <th>执业注册号</th>
                <td>
                    @(profile.PracticeRegistrationNo)
                </td>
                <th>团体会员证号</th>
                <td>
                    @(profile.CorporateMemberNo)
                </td>
                <th>是否有测绘许可证书</th>
                <td>
                    @(profile.HasExequatur ? "是" : "否")
                </td>
            </tr>
            <tr>
                <th>经营范围</th>
                <td colspan="3">
                    @(profile.BusinessScope)
                </td>
                <th>证书级别</th>
                <td>
                    @(profile.ExequaturLevel)
                </td>
            </tr>
            <tr>
                <th>手机</th>
                <td>@(profile.MobilePhone)</td>
                <th>电话</th>
                <td>@(profile.Tel)</td>
                <th>传真</th>
                <td>@(profile.Fax)</td>
            </tr>
            <tr>
                <th>公司地址</th>
                <td colspan="3">@(profile.Address)</td>
                <th>邮编</th>
                <td>@(profile.Postcode)</td>
            </tr>
            <tr>
                <th>联系地址</th>
                <td colspan="3">@(profile.Address1)</td>
                <th>邮编</th>
                <td>@(profile.Postcode1)</td>
            </tr>
            <tr>
                <th>电子信箱</th>
                <td colspan="3">@(profile.Email)</td>
                <th>公司网站</th>
                <td>@(profile.Website)</td>
            </tr>
        </table>
    </div>
    <div class="tab-pane fade" id="tab2">
        <table class="table table-bordered">
            <tr>
                <th>姓名</th>
                <th>性别</th>
                <th>出生年月</th>
                <th>股份</th>
                <th>手机</th>
            </tr>
            @foreach (var sh in profile.ShareHolders)
            { 
                <tr>
                    <td>@(sh.Name)</td>
                    <td>@(sh.Gender)</td>
                    <td>@(sh.Birthday)</td>
                    <td>@(sh.Shares)</td>
                    <td>@(sh.Mobile)</td>
                </tr>
            }
        </table>
    </div>
    <div class="tab-pane fade" id="tab3">
        <table class="table table-bordered">
            <tr>
                <th>名称</th>
                <th>数量</th>
                <th>型号</th>
                <th>生产厂商</th>
            </tr>
            @foreach (var item in profile.Equipments)
            { 
                <tr>
                    <td>@(item.Name)</td>
                    <td>@(item.Number)</td>
                    <td>@(item.Model)</td>
                    <td>@(item.Manufacturer)</td>
                </tr>
            }
        </table>
    </div>
    <div class="tab-pane fade" id="tab4">
        <table class="table table-bordered">
            <tr>
                <th>审批类型</th>
                <th>申请时间</th>
                <th>审批时间</th>
                <th>审批结果</th>
                <th>详情</th>
            </tr>
            @foreach (var checkLog in checkLogs)
            { 
                <tr>
                    <td>@(checkLog.CheckType.GetDescription())</td>
                    <td>@(checkLog.CreateTime.ToShortDateString())</td>
                    <td>@(checkLog.UpdateTime.HasValue ? checkLog.UpdateTime.Value.ToShortDateString() : "-")</td>
                    <td>
                        @if (checkLog.Result.HasValue)
                        {
                            if (checkLog.Result.Value)
                            { 
                            <span class="label label-success">审批通过</span>
                            }
                            else
                            {
                            <span class="label label-warning">审批不通过</span>
                            }
                        }
                        else
                        {
                            <span class="label label-default">尚未审批</span>
                        }
                    </td>
                    <td>@if (checkLog.CheckType == CheckType.Profile || checkLog.CheckType == CheckType.Annual)
                        { 
                        <a href="?id=@(checkLog.UserID)&checkLogId=@(checkLog.ID)" class="btn btn-xs btn-primary">历史资料</a>
                        }</td>
                </tr>
            }
        </table>
    </div>
    <div class="tab-pane fade" id="tab5">
        <table class="table table-bordered">
            <tr>
                <th>姓名</th>
                <th>性别</th>
                <th>出生年月</th>
                <th>执业证书号</th>
                <th>手机</th>
            </tr>
            @foreach (var member in profile.Members)
            { 
                <tr>
                    <td>@(member.Name)</td>
                    <td>@(member.Gender)</td>
                    <td>@(member.Birthday)</td>
                    <td>@(member.PracticeNo)</td>
                    <td>@(member.MobilePhone)</td>
                </tr>
            }
        </table>
    </div>
    <div class="tab-pane fade" id="tab6">
        <table class="table table-bordered">
            <tr>
                <th>软件名称</th>
                <th>来源</th>
                <th>数量</th>
                <th>用途</th>
                <th>备注</th>
            </tr>
            @foreach (var software in profile.Softwares)
            {
                <tr>
                    <td>@(software.Name)</td>
                    <td>@(software.Source)</td>
                    <td>@(software.Number)</td>
                    <td>@(software.Purpose)</td>
                    <td>@(software.Note)</td>
                </tr>
            }
        </table>
    </div>
</div>
@Html.Partial("_approvalForm", approval)