@using Loowoo.LandInst.Model
@{
    ViewBag.Title = "继续教育申请记录";
    Layout = "~/Areas/Institution/Views/Shared/_Layout.cshtml";
    List<VCheckEducation> list = ViewBag.List;
}
<form class="form-inline search-form">
    <div class="col-lg-8">
        <div class="input-group">
            <span class="input-group-addon">查询会员</span>
            <input type="text" class="form-control" name="name" placeholder="会员姓名" value="@(Request.QueryString["name"])">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> 查询</button>
                <a href="/institution/education/import">批量申请</a>
            </div>
        </div>
    </div>
</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>姓名</th>
            <th>继续教育名称</th>
            <th style="width: 120px;">申请日期</th>
            <th style="width: 100px;">审批状态</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in list)
        { 
            <tr>
                <td><a href="/institution/member/profile?id=@(item.Member.UserID)">@(item.Member.RealName)</a></td>
                <td>@(item.EduName)</td>
                <td>@(item.Member.UpdateTime.HasValue ? item.Member.UpdateTime.Value.ToShortDateString() : null)</td>
                <td>
                    @if (item.Member.Result.HasValue)
                    {
                        if (item.Member.Result.Value)
                        { 
                        <span class="label label-success">审批通过</span>
                        }
                        else
                        {
                        <span class="label label-warning">未通过</span>
                        }
                    }
                    else
                    {
                        <span class="label label-default">未审批</span>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="10">@Html.Partial("_pagination", ViewBag.Page as object)</td>
        </tr>
    </tfoot>
</table>