@using Loowoo.LandInst.Model
@{
    ViewBag.Title = "申请年审记录";
    Layout = "~/Areas/Institution/Views/Shared/_Layout.cshtml";
    List<AnnualCheck> list = ViewBag.List;
}

<table class="table table-bordered">
    <tr>
        <th>年审名称</th>
        <th style="width: 120px;">起始时间</th>
        <th style="width: 120px;">结束时间</th>
        <th style="width: 90px;">审核状态</th>
        <th style="width: 120px;">审核时间</th>
    </tr>
    @foreach (var item in list)
    { 
        <tr>
            <td>@(item.Name)</td>
            <td>@(item.StartDate.ToShortDateString())</td>
            <td>@(item.EndDate.ToShortDateString())</td>
            @if (item.Approval == null)
            { 
                <td>未申请</td>
                <td></td>
            }
            else
            {
                <td>@(item.Approval.CreateTime.ToShortDateString())</td>
                <td>@(item.Approval.UpdateTime.HasValue ? item.Approval.UpdateTime.Value.ToShortDateString() : "尚未审核")</td>
            }
        </tr>
    }
</table>
@*<script>
    $(function () {
        $(".btn-signup").click(function () {
            if(confirm("提交年检申请后，将不能修改基本资料，你确定提交吗？")){
                var href = $(this).attr("href");
                $.request(href, null, function (json) {
                    aler("申请成功，请等待审核");
                    window.location.href = "@Html.Raw(Request.Url.AbsoluteUri)";
                });
            }
            return false;
        });
    });
</script>*@