@using Loowoo.LandInst.Model
@{
    ViewBag.Title = "申请年审";
    Layout = "~/Areas/Institution/Views/Shared/_Layout.cshtml";
    List<AnnualCheck> list = ViewBag.List;
}

    <table class="table table-bordered">
    <tr>
        <th>年审名称</th>
        <th>起始时间</th>
        <th>结束时间</th>
        <th>审核状态</th>
        <th>审核时间</th>
    </tr>
    @foreach (var item in list)
    { 
        <tr>
            <td>@(item.Name)</td>
            <td>@(item.StartDate.ToShortDateString())</td>
            <td>@(item.EndDate.ToShortDateString())</td>
            @if (item.Approval == null)
            { 
                <td>未申请</td>
                <td><a href="/member/annual/signup?id=@(item.ID)" class="btn btn-xs btn-primary btn-signup">
                    申请</a>
                </td>
            }
            else
            {
                <td>@(item.Approval.CreateTime.ToShortDateString())</td>
                <td>@(item.Approval.UpdateTime.HasValue ? item.Approval.UpdateTime.Value.ToShortDateString() : "尚未审核")</td>
            }
        </tr>
    }
</table>
<script>
    $(function () {
        $(".btn-signup").click(function () {
            var href = $(this).attr("href");
            $.request(href, function (json) {
                aler("申请成功，请等待审批");
                window.location.href = "@Html.Raw(Request.Url.AbsoluteUri)";
            });
        });
    });
</script>
