@using Loowoo.LandInst.Model
@{
    ViewBag.Title = "申请年审";
    Layout = "~/Areas/Institution/Views/Shared/_Layout.cshtml";
    List<AnnualCheck> list = ViewBag.List;
}

    <table class="table">
    <tr>
        <th>年审名称</th>
        <td>起始时间</td>
        <th>结束时间</th>
        <th>审核状态</th>
        <th>审核时间</th>
    </tr>
    @foreach (var item in list)
    { 
        <tr>
            <td>@(item.Name)</td>
            <td>@(item.StartDate.ToShortDateString())</td>
            <td>@(item.EndDate.ToShortDateString())</td>
            @if (item.Approval == null)
            { 
                <td>尚未申请</td>
                <td><a href="/institution/annual/signup?id=@(item.ID)" class="btn btn-primary btn-signup">申请</a> </td>
            }
            else
            {
                <td>@(item.Approval.Result.HasValue ? (item.Approval.Result.Value ? "通过" : "未通过"):"未审批" )
                </td>
                <td>@(item.Approval.ApprovalTime.HasValue?item.Approval.ApprovalTime.Value.ToShortDateString():" - / - / -")
                </td>
            }
        </tr>
    }
</table>
<script>
    $(function () {
        $(".signup").click(function () {
            var href = $(this).attr("href");
            $.post(href, function (json) {
                if (json.result) {
                    aler("申请成功，请等待审批");
                    window.location.href = "@Html.Raw(Request.Url.AbsoluteUri)";
                }
            }, "json");
        });
    });
</script>
